<div class="main-center main-content">
	<div class="pagina-body body1">
		<h1><?=$this->pagina->titulo?></h1>

		<div class="body"><?=$this->pagina->body?></div>
	</div>

	<ul class="servicos-list">
		<li>ESTUDO PRELIMINAR</li>
		<li>ANTEPROJETO</li>
		<li>PROJETO EXECUTIVO</li>
	</ul>
</div>

<? if((bool)trim($this->pagina->fotos_fixas->foto1)){ ?>
<div class="pagina-img-wrapper">
	<figure class="pagina-img bg-servicos">
		<img src="<?=IMG_URL.'/paginas/'.$this->pagina->fotos_fixas->foto1?>" alt="<?=$this->pagina->titulo?>">
	</figure>
</div>
<? } ?>

<div class="main-center main-content">
	<div class="pagina-body body2">
		<div class="body"><?=$this->pagina->body2?></div>
	</div>
</div>