<div class="content treinamentos portal <?=$this->controller?> <?=$this->controller.'-'.$this->action?>">
    <div class="center">
        <div class="content-left">
            <div class="categorias">
                <? if((bool)$this->login->has_consultoria && $this->pagina_instrucoes){ ?>
                <?/*<a class="<?=($this->controller=='instrucoes'?'active':'')?>" href="<?=URL?>/portal/instrucoes"><?=$this->pagina_instrucoes->titulo?></a>*/?>
                <a class="<?=($this->controller=='instrucoes'?'active':'')?>" href="<?=URL?>/portal/instrucoes">INSTRUÇÕES GERAIS</a>
                <? } ?>
                
                <? $txtMenuDados = ($this->login->has_consultoria) ? 'MEUS DADOS' : 'MEUS DADOS PESSOAIS'; ?>
                <a class="<?=($this->controller=='index'?'active':'')?>" href="<?=URL?>/portal"><?=$txtMenuDados?></a>
                
                <? if((bool)$this->login->has_consultoria){ ?>
                <a class="<?=($this->controller=='consultoria'?'active':'')?>" href="<?=URL?>/portal/consultoria">MINHA CONSULTORIA</a>
                <? } ?>
                
                <? if((bool)$this->login->has_treinamentos){ ?>
                <a class="<?=($this->controller=='treinamentos'?'active':'')?>" href="<?=URL?>/portal/treinamentos">MEUS TREINAMENTOS</a>
                <? } ?>
            </div>
        </div>

        <div class="content-main inscricao consultoria">
            <h1 class="dados-pessoais">ÁREA DO CLIENTE</h1>

            <h3 class="title-user">
                Olá <span class="user-name"><?=$this->login->user->nome?></span>
                <a href="<?=URL?>/login/logout" class="botao-sair">sair [X]</a>
            </h3>
            
            <div class="portal-content <?=$this->controller?> <?=$this->controller.'-'.$this->action?>">