	<h1>HISTÓRICO DE COMPRAS</h1>

	<? if(!$this->pedidos){ ?>
	<p class="produtos-descricao">
		Nenhuma compra efetuada.
	</p>
	<? } else { ?>

	<p class="produtos-descricao">
		Confira as suas últimas compras realizadas na nossa loja.
	</p>

	<div id="meus-pedidos">

	<? /*for($i=0;$i<2;$i++)*/ foreach($this->pedidos as $row){ ?>
	<? $isPago = in_array($row->pedido_status_id, array(3,4)); ?>
	<table class="tbl-meu-pedido">
		<thead>
			<tr>
				<td>
					#<?=nInscricao($row->id)?>
					&nbsp;
					&nbsp;
					&nbsp;
					Data da compra: <?=dtbr($row->data_cad)?>
				</td>
				<td width="120"><?=$row->count?> itens</td>
				<td width="180">TOTAL: <?=_currency($row->total)?></td>
			</tr>
		</thead>
		<tbody>
			<? foreach($row->items as $item){ ?>
			<? $foto_path = @$item->item->foto_path; ?>
			<? $foto = IMG_URL.($foto_path ? '/produtos/'.$foto_path : 'not-found.jpg'); ?>
			<tr>
				<? if($foto_path){ ?>
				<td class="td-produto-img">
					<img src="<?=$foto?>">
				<? } else { ?>
				<td>
				<? } ?>
					<b><?=$item->produto_descricao?></b>

					<? if ($item->item->tipo_id==3 && $isPago){ ?>
					&nbsp;&nbsp;&nbsp;
					<i>VOUCHER:</i>
					<?=$this->carrinho->getVoucher($item)?>
					<? } ?>
					
					<br>
					
					<? if($item->item->tipo_id==0){ // produto ?>
					<i>tamanho:</i> <?=$item->tamanho->descricao?><br>
					<i>cor:</i> <?=$item->cor->descricao?>
					<? } else { // /if $item->item->tipo_id==3 ?>
					<br>
					<br>
					<?//=$item->item->descricao_completa?>
					<? } // /if $item->item->tipo_id==3 ?>
				</td>
				<td>&nbsp;</td>
				<td class="td-produto-valor">
					<i><?=_currency($item->produto_valor)?></i>
				</td>
			</tr>
			<? } // /foreach row->itens ?>
		</tbody>
	</table>
	
	<form class="frm-pedido-status" action="<?=URL?>/painel/pedidos/save-status" method="post">
		<? if(CIELO_HOMOLOG) if($row->cielo_forma){ ?>
        <b>Pagamento:</b>
        <?=Cielo::forma($row->cielo_forma)?>:
        <? if($isPago){ ?>
        <i><?=Cielo_Error::getStatus($row->cielo_status)?></i>
        <? } else { ?>
        <b class="pgto-error">Pagamento não confirmado</b>
        <? } ?>
        
        <? /*if($row->cielo_tid){ ?>
        &bull; Cielo ID: <i><?=$row->cielo_tid?></i>
        <? }*/ ?>
		
		<br>
        <? } ?>
	</form>

	<? } // /foreach this->pedidos ?>
	
	</div> <!-- #meus-pedidos -->

	<? } // if/else this->pedidos ?>
