
<div class="main-center main-content login">
    <h1 class="dados-pessoais">
        ESQUECI MINHA SENHA
    </h1>
    
    <div class="center1">

        <div class="content-main inscricao center">
            <?=$this->render('login/form-recuperar-senha.phtml')?>
        </div>

        <? /*if(@$this->cart->items){ ?>
        <div class="content-right">
            <?//=($this->continue_cadastro)?
                    $this->render('meu-carrinho/pagina-cart-continue.phtml'):
                    $this->render('meu-carrinho/pagina-cart.phtml')//?>
            <?=($this->steps) ? $this->render('meu-carrinho/pagina-cart-processo.phtml') : ''?>
        </div>
        <? }*/ ?>
    </div>
</div>