<h3>Bem vindo ao Painel de Controle.</h3>

<p style="padding: 20px 10px;">
	Pelo painel administrativo da <a href="//trupe.net" target="_blank">Trupe</a> você pode controlar as principais funções e conteúdo do site.
	<br><br><br>
	Em caso de dúvidas entrar em contato: <a href="mailto:contato@trupe.net">contato@trupe.net</a>
</p>
