<div id="slideshow-wrapper">
<div class="slideshow" id="slideshow">

<? foreach ($this->banners as $row) { ?>
<? $url = (bool)$row->url ? $row->url : '#'; ?>
<? $target = strstr($url,URL) ? '' : 'target="_blank"'; ?>
<? $img = IMG_URL.'/destaques/'.@$row->foto_path;//.'?w=450&h=450'; ?>
<a href="<?=$url?>" class="foto" <?=$target?> title="<?=$row->titulo?>">
    <span class="img-wrapper">
    <?/*<span class="img"><img src="<?=$img?>" alt="<?=$row->titulo?>" /></span>*/?>
    <span class="img" style="background-image:url(<?=$img?>);"></span>
    </span>
    
    <span class="desc-wrapper">
        <span class="desc">
            <span class="title">
                <?=$row->titulo?>
            </span>
            <div class="sep"></div>
            <span class="descricao">
                <?=str_replace(
                    array('<div','</div>'),
                    array('<br><span','</span>'),
                    $row->body)?>
            </span>
        </span>
    </span>
</a>
<? } ?>

</div> <!-- /slideshow -->
</div> <!-- /slideshow-wrapper -->