			<script>
			var CART_CURSOS = [];
			<? if($this->cart_cursos->cursos_id){ ?>
			<? foreach($this->cart_cursos->cursos_id as $cid){ ?>
			CART_CURSOS.push(<?=$cid?>);
			<? } ?>
			<? } ?>
			</script>

			<h1>COMPRAR CURSOS</h1>

			<p class="comprar-desc-1">
				<b>Adicione ao seu carrinho de compras os cursos desejados.</b> <br>
				Se não houver vagas cadastre-se na Lista de Espera.
			</p>

			<label class="lbl-exibir-ritmo" for="ritmos">
				Exibir só aulas do ritmo: 
				<span class="combo-ritmos-container">
				<?=$this->formSelect('ritmos',@$this->busca_ritmos,array('class'=>'txt','required'=>true),$this->ritmosKV)?>
				</span>
			</label>
			<br clear="all">
			<br clear="all">
			
			<? if($this->planos_valores){ $pv = $this->planos_valores; ?>
			<p class="comprar-desc-2">
				<b><?=$pv->titulo?></b> <br>
				<? for($i=1; $i<=3; $i++) if(@$pv->{'valor'.$i.'_titulo'}){ ?>
				<?=$pv->{'valor'.$i.'_titulo'}?>: <?=$pv->{'valor'.$i.'_desc'}?> <br>
				<? } ?>
			</p>
			<? } ?>
		
		<?=$this->render('partial-close-open-content.phtml')?>
			
			<? if($this->rows){ ?>
			
			<? $lastDia = 0; $i=0; $hasCursoAlready = 0; ?>
			<? foreach($this->rows as $row){ $i++; ?>
			<? $hasCursoAlready = in_array($row->produto_id, $this->produtos_pedidos); ?>

			<? if($lastDia!=$row->produto_dias || $i==1){ // -- open the table -> ?>
			<?=($i>1) ? '</tbody></table></div>' : ''?>
			<h3 class="title-comprar-cursos"><?=$row->produto_dias?></h3>
			<div class="mobile-scroll-wrapper">
			<table class="tbl tbl-comprar-cursos">
			<thead>
				<tr>
					<td width="200">RITMO</td>
					<td width="120">NÍVEL</td>
					<td width="100">INÍCIO</td>
					<td width="120">HORÁRIO</td>
					<td>PROFESSORES</td>
					<td>OBSERVAÇÕES</td>
					<td width="160" align="center" class="td-peq">LISTA DE ESPERA</td>
					<td width="90" align="center"><?=Func::img(CSS_URL.'/img/icone-cart2.png')?></td>
				</tr>
			</thead>
			<tbody>
			<? } // /if $lastDia!=$row->produto_dias ?>

				<? if($hasCursoAlready){ ?>
				<tr class="has-curso">
				<? } else { ?>
				<tr>
				<? } ?>
					<td><?=$row->produto_ritmo?></td>
					<td><?=$row->produto_nivel?></td>
					<td><?=date('d/m/y',strtotime(($row->produto_tipo_id==1) ? $row->produto_data_ini : $row->produto_data))?></td>
					<td><?=$row->produto_horarios?></td>
					<td><?=$row->produto_professores?></td>
					<td class="td-peq td-obs"><?=get_compra_obs($row)?></td>
					<td align="center" class="td-peq td-espera">
						<? if($row->produto_lista){ ?>
						<a href="#" class="espera" data-id="<?=$row->produto_id?>">
							INSCREVER-ME NA LISTA &raquo;
						</a>
						<? } else { ?>
						&nbsp;
						<? } ?>
					</td>
					<td align="center" class="td-peq td-comprar">
						<? if($hasCursoAlready){ ?>
						<b>Você já está matriculado nesta turma!</b>
						<? } else { ?>
						<a href="#" class="comprar buy" data-id="<?=$row->produto_id?>">
							
						</a>
						<? } ?>
					</td>
				</tr>
			
			<? if($i==count($this->rows)){ // -- close the table -> ?>
			</tbody>
			</table>
			</div>
			<? } // /if $lastDia!=$row->dias ?>

			<? $lastDia = $row->produto_dias; ?>
			<? } // /foreach this->rows ?>
			
			<br clear="all">

			<form action="<?=URL?>/checkout" class="frm-cart" method="post">
				<input type="hidden" id="cliente_id" name="cliente_id" value="<?=$this->login->user->id?>">
				<input type="hidden" id="cursos_id" name="cursos_id">
				<input type="hidden" id="iframe" name="iframe" value="1">
				<h3 id="cursos-selecionados">[ Nenhum curso selecionado ]</h3>

				<a href="#" class="submit bt-checkout" id="bt-checkout-popup">
					Ir para o carrinho de compras | 
					Finalizar matrícula nos cursos selecionados &raquo;
				</a>
			</form>

			<br clear="all">
			<br clear="all">
			<? } else { ?>
			<p style="text-align: center;"><i>Nenhum curso disponível.</i></p>
			<? } // /if rows ?>

			<p class="link-confira-container">
				<a href="<?=URL?>/portal/comprar/intensivos" class="link-confira">
					Confira também nossa programação de cursos intensivos
				</a>
			</p>





