<div id="form-new">
    <form action="<?=URL.'/admin/clientes/save-consult'?>" method="post" id="frm-meus-dados" class="frm-meus-dados grupo consult">
    
    <div class="tabs">
    <ul class="tabs-navigation">
        <li><a href="#frm-dados">Dados e Membros</a></li>
    </ul>

    <!-- tab containers -->
    <div id="frm-dados" class="tabs-container">
        <ul>
            <li>
                <label for="cnpj">CNPJ:</label>
                <input type="text" id="cnpj" name="dados[cnpj]" class="txt mask-cnpj">
            </li>
            <li>
                <label for="nome">Razão Social:</label>
                <input type="text" id="nome" name="dados[nome]" class="txt">
            </li>
            <li class="sep"></li>
        </ul>

        <?/*<ul>
            <li>
                <label for="cliente_nome">Participante / Empresa:</label>
                <input type="text" name="cliente_nome" class="txt" />
            </li>
        </ul>*/?>

        <ul id="lista-participantes">
            <li>
                <label>Membro:</label>
                <input type="text" class="txt" name="nomecompleto[]" placeholder="Nome">
                <input type="text" class="txt" name="email[]" placeholder="E-mail">
                <a href="#" class="add-participante" title="Adicionar membro">Adicionar membro</a>
            </li>
        </ul>
    </div> <!-- #frm-dados -->

    </div> <!-- .tabs -->
    
    <div class="bt-container">
        <input type="submit" class="bt" value="Salvar" id="submit" />
    </div>
    </form>
</div> <!-- #frm-new -->
