    <div id="frm-obra" class="tabs-container">
    	<ul>
            <? foreach($this->form_obra->getElements() as $elm){ ?>
            <li class="<?=$elm->getAttrib("class")?>" id="li-obra-<?=$elm->getId()?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                
                <?=$elm->render()?>
            </li>
            <? } ?>
        </ul>
	</div>