    <div id="frm-turmas" class="tabs-container">
        <? if($this->turmas){ ?>
        <table id="tbl-turmas" class="tbl-grid">
            <thead>
                <tr>
                    <td>Treinamento</td>
                    <td align="center" width="70">Data</td>
                    <td align="center" width="70">Status</td>
                    <td align="center" width="70">&nbsp;</td>
                </tr>
            </thead>
            <tbody>
                <? foreach($this->turmas as $rt){ ?>
                <tr>
                    <td><?=$rt->treinamento.' - '.$rt->produto?></td>
                    <td align="center"><?=$rt->produto_data?></td>
                    <td align="center"><?=$rt->pedido_status?></td>
                    <td align="center">
                        <a href="#" class="bt bt2 bt-transf-turma" data-id="<?=$rt->pedido_id?>">Transferir</a>
                        <div class="transf-turma-form" id="transf-turma-form_<?=$rt->pedido_id?>">
                            <?=$this->formSelect('transf_produto_id',null,array('class'=>'txt','data-id'=>$rt->pedido_id),$this->treinamentosKV)?>
                            <a href="#" class="bt bt-transf-turma-submit" data-id="<?=$rt->pedido_id?>">OK</a>
                            <input type="hidden" data-id="<?=$rt->pedido_id?>" name="transf[cliente_id]" id="transf_cliente_id" value="<?=$this->id?>">
                            <input type="hidden" data-id="<?=$rt->pedido_id?>" name="transf[pedido_id]" id="transf_pedido_id" value="<?=$rt->pedido_id?>">
                            <input type="hidden" data-id="<?=$rt->pedido_id?>" name="transf[produto_id_old]" id="transf_produto_id_old" value="<?=$rt->produto_id?>">
                        </div>
                    </td>
                </tr>
                <? } ?>
            </tbody>
        </table>
        <? } else { ?>
        <p>Ainda não inscrito em nenhuma turma.</p>
        <br><br>
        <? } ?>
        
        <ul>
            <li class="cad-turma-form" id="cad-turma-form_0">
                <label for="cad_produto_id">Inserir em nova turma:</label>
                <?=$this->formSelect('cad_produto_id',null,array('class'=>'txt','data-id'=>'0'),$this->treinamentosKV)?>
                <a href="#" class="bt bt-cad-turma-submit" data-id="0">OK</a>
                <input type="hidden" data-id="0" name="cad[cliente_id]" id="cad_cliente_id" value="<?=$this->id?>">
            </li>
        </ul>
    </div> <!-- #frm-turmas -->