<div class="main-center main-content portal">
<div class="t-center">
    <h1>Área do Cliente</h1>
    <h2>Olá <?=utf8_encode($this->user->nome)?>. Seja bem-vindo(a).</h2>
</div>

<div class="files" id="files-all">
    <h3>Documentos padrão - gerais</h3>

    <ul class="file-list">
        <? foreach($this->files_all as $row){ ?>
        <? $url = FILE_URL.'/consultorias/'.$row->arquivo_path; ?>
        <? $desc= (trim($row->arquivo_descricao)) ? $row->arquivo_descricao : $row->arquivo_path; ?>
        <li>
            <a href="<?=$url?>" class="file" download="<?=$desc?>">
                <span class="data"><?=dtbr($row->data_cad,'/',1)?></span>
                <span class="titulo"><?=$row->arquivo_titulo?></span>
                <span class="obs"><?=$row->arquivo_obs?></span>
            </a>
        </li>
        <? } // /foreach this->files_all ?>
    </ul>
</div>
<div class="files" id="files-user">
    <h3>Seus arquivos recebidos</h3>

    <ul class="file-list">
        <? foreach($this->files_user as $row){ ?>
        <? $url = FILE_URL.'/consultorias/'.$row->arquivo_path; ?>
        <? $desc= (trim($row->arquivo_descricao)) ? $row->arquivo_descricao : $row->arquivo_path; ?>
        <li>
            <a href="<?=$url?>" class="file" download="<?=$desc?>">
                <span class="data"><?=dtbr($row->data_cad,' - ',1)?></span>
                <span class="titulo"><?=$row->arquivo_titulo?></span>
                <span class="obs"><?=$row->arquivo_obs?></span>
            </a>
        </li>
        <? } // /foreach this->files_all ?>
    </ul>
</div>
<br clear="all">

<div id="forms" class="files">
<form action="<?=$this->form_meus_dados->getAction()?>" method="post" id="form-dados" class="form-inscricao-padrao dados-pessoais-form">
    <h3>Atualizar dados cadastrais</h3>
    <?/*<label>
        <span>CPF</span>
        <? if(trim(@$this->dadosCadastro['cpf'])){ ?>
        <input type="text" name="cpfd" id="cpfd" class="mask-cpf disabled" value="<?=@Is_Format::cpf($this->dadosCadastro['cpf'])?>" disabled>
        <input type="hidden" name="cpf" id="cpf" value="<?=@Is_Format::cpf($this->dadosCadastro['cpf'])?>">
        <? } else { ?>
        <input type="text" name="cpf" id="cpf" class="mask-cpf" value="" required>
        <? } ?>
    </label>*/?>
    <label>
        <span>nome</span>
        <? if(trim(@$this->dadosCadastro['nome'])){ ?>
        <?/*<input type="text" name="nomed" id="nomecompletod" class="disabled" value="<?=@$this->dadosCadastro['nome']?>" disabled>
        <input type="hidden" name="nome" id="nomecompleto" value="<?=@$this->dadosCadastro['nome']?>">*/?>
        <input type="text" name="nome" id="nomecompleto" class="" value="<?=@$this->dadosCadastro['nome']?>" required>
        <? } else { ?>
        <input type="text" name="nome" id="nomecompleto" class="" value="<?=@$this->dadosCadastro['nome']?>" required>
        <? } ?>
    </label>
    <label>
        <span>e-mail</span>
        <? if(trim(@$this->dadosCadastro['email'])){ ?>
        <?/*<input type="text" name="emaild" id="emailcompletod" class="disabled" value="<?=@$this->dadosCadastro['email']?>" disabled>
        <input type="hidden" name="email" id="emailcompleto" value="<?=@$this->dadosCadastro['email']?>">*/?>
        <input type="text" name="email" id="email" class="" value="<?=@$this->dadosCadastro['email']?>" required>
        <? } else { ?>
        <input type="text" name="email" id="email" class="" value="<?=@$this->dadosCadastro['email']?>" required>
        <? } ?>
    </label>
    <? /*if(@$this->dadosCadastro['cliente_treinamentos']){ ?>
    <label>
        <span>nome (crachá)</span>
        <input type="text" name="apelido" id="nomecracha" value="<?=@$this->dadosCadastro['apelido']?>">
    </label>
    <? }*/ ?>
    <label>
        <span>telefone celular</span>
        <input type="text" name="celular" id="telefonecelular" class="mask-cel" value="<?=trim(@$this->dadosCadastro['celular'])?Is_Format::tel($this->dadosCadastro['celular'],'cel','-'):''?>">
    </label>
    <label>
        <span>telefone comercial</span>
        <input type="text" name="telefone2" id="telefonecom" class="mask-tel" value="<?=trim(@$this->dadosCadastro['telefone2'])?Is_Format::tel($this->dadosCadastro['telefone2'],'tel','-'):''?>" >
    </label>
    <label>
        <span>telefone residencial</span>
        <input type="text" name="telefone" id="telefonefixo" class="mask-tel" value="<?=trim(@$this->dadosCadastro['telefone'])?Is_Format::tel($this->dadosCadastro['telefone'],'tel','-'):''?>" >
    </label>
    <?/*<label>
        <span>empresa</span>
        <input type="text" name="empresa" id="empresa" value="<?=@$this->dadosCadastro['empresa']?>">
    </label>
    <label>
        <span>cargo</span>
        <input type="text" name="cargo" id="cargo" value="<?=@$this->dadosCadastro['cargo']?>">
    </label>*/?>
    <?/*<label>
        <span>área de atuação</span>
        <input type="text" name="area_atuacao" id="area_atuacao" value="<?=@$this->dadosCadastro['area_atuacao']?>">
    </label>*/?>
    <? //if(@$this->dadosCadastro['cliente_treinamentos']){ ?>
    <?/*<label>
        <span>website</span>
        <input type="text" name="site" id="site" value="<?=@$this->dadosCadastro['site']?>">
    </label>*/?>
    <? $mostraCep = 1;//(bool)$this->dadosCadastro && @$this->dadosCadastro['cep']; ?>
    <label class="label-cep <?=$mostraCep ? '' : 'hidden'?>">
        <span>CEP</span>
        <input type="text" name="cep" id="cep" class="half-width mask-cep" value="<?=@Is_Format::cep($this->dadosCadastro['cep'])?>">
        <!-- <div class="loading">&middot;&middot;&middot;</div> -->
    </label>
    <div class="campos-cep <?=$mostraCep ? '' : 'hidden'?>">
        <label>
            <span>endereço</span>
            <input type="text" name="logradouro" id="logradouro" value="<?=@$this->dadosCadastro['logradouro']?>">
        </label>
        <label>
            <span>número</span>
            <input type="text" name="numero" class="quarter-width" id="numero" value="<?=@$this->dadosCadastro['numero']?>">
        </label>
        <label>
            <span>complemento</span>
            <input type="text" name="complemento" class="half-width" id="complemento" value="<?=@$this->dadosCadastro['complemento']?>">
        </label>
        <label>
            <span>bairro</span>
            <input type="text" name="bairro" class="handle-bairro" id="bairro" value="<?=@$this->dadosCadastro['bairro']?>">
        </label>
        <label>
            <span>cidade</span>
            <input type="text" name="cidade" class="handle-cidade" id="cidade" value="<?=@$this->dadosCadastro['cidade']?>">
        </label>
        <label>
            <span>UF</span>
            <?=$this->form_meus_dados->getElement('uf_id')->setValue(@$this->dadosCadastro['uf_id'])->render()?>
        </label>
    </div>
    <? //} // /if cliente_treinamentos ?>
    <label>
        <span>data de aniversário</span>
        <input type="text" name="data_nascimento" id="data_nascimento" class="mask-date" value="<?=trim(@$this->dadosCadastro['data_nascimento'])?dtbr($this->dadosCadastro['data_nascimento']):''?>" >
    </label>
    <label>
        <span>data de aniversário - cônjuge</span>
        <input type="text" name="data_nascimento2" id="data_nascimento2" class="mask-date" value="<?=trim(@$this->dadosCadastro['data_nascimento2'])?dtbr($this->dadosCadastro['data_nascimento2']):''?>" >
    </label>


    <br><br>
    <label><span class="tit">Dados da obra</span></label>
    <label>
        <span>CEP</span>
        <input type="text" name="obra[cep]" id="obra_cep" class="mask-cep" value="<?=@$this->dadosObra['cep']?>" >
    </label>
    <label>
        <span>endereço</span>
        <input type="text" name="obra[logradouro]" id="obra_logradouro" class="" value="<?=@$this->dadosObra['logradouro']?>" >
    </label>
    <label>
        <span>número</span>
        <input type="text" name="obra[numero]" id="obra_numero" class="" value="<?=@$this->dadosObra['numero']?>" >
    </label>
    <label>
        <span>complemento</span>
        <input type="text" name="obra[complemento]" id="obra_complemento" class="" value="<?=@$this->dadosObra['complemento']?>">
    </label>
    <label>
        <span>bairro</span>
        <input type="text" name="obra[bairro]" id="obra_bairro" class="" value="<?=@$this->dadosObra['bairro']?>" >
    </label>
    <label>
        <span>cidade</span>
        <input type="text" name="obra[cidade]" id="obra_cidade" class="" value="<?=@$this->dadosObra['cidade']?>" >
    </label>
    <label>
        <span>UF</span>
        <?=$this->form_meus_dados->getElement('uf_id')->setValue(@$this->dadosObra['uf_id'])->render()?>
    </label>


    <br><br>
    <label><span class="tit">Dados para emissão de NF</span></label>
    <label>
        <span>nome/razão social</span>
        <input type="text" name="pgto[nome]" id="pgto_nome" class="" value="<?=@$this->dadosPgto['nome']?>" >
        <input type="hidden" name="pgto[tipo_pessoa]" id="pgto_tipo_pessoa" class="mask-tipo_pessoa" value="<?=@$this->dadosPgto['tipo_pessoa']?>" >
    </label>
    <label>
        <span>cpf/cnpj</span>
        <? $isCpf = $this->dadosPgto['tipo_pessoa']==1 || strlen($this->dadosPgto['cpf'])==11 || strlen($this->dadosPgto['cnpj'])==11; ?>
        <? $isCnpj= $this->dadosPgto['tipo_pessoa']==2 || strlen($this->dadosPgto['cnpj'])==14 || strlen($this->dadosPgto['cpf'])==14; ?>
        <? $cpfcnpj = (bool)trim(@$this->dadosPgto['cpf']) ? @$this->dadosPgto['cpf'] : @$this->dadosPgto['cnpj']; ?>
        <? if($isCpf){ ?>
        <input type="text" name="pgto[cpf]" id="pgto_cpf" class="mask-cpf1" value="<?=Is_Cpf::format($cpfcnpj)?>" >
        <? } else { ?>
        <input type="text" name="pgto[cnpj]" id="pgto_cnpj" class="mask-cnpj1" value="<?=Is_Cpf::formatCnpj($cpfcnpj)?>" >
        <? } // /if $this->dadosPgto['tipo_pessoa']==1 ?>
    </label>
    <label>
        <span>rg/inscrição estadual</span>
        <? $rgie = (bool)trim(@$this->dadosPgto['rg']) ? @$this->dadosPgto['rg'] : @$this->dadosPgto['insc_est']; ?>
        <? if($isCpf){ ?>
        <input type="text" name="pgto[rg]" id="pgto_rg" class="mask-rg" value="<?=($rgie)?>" >
        <? } else { ?>
        <input type="text" name="pgto[insc_est]" id="pgto_insc_est" class="mask-insc_est" value="<?=($rgie)?>" >
        <? } // /if $this->dadosPgto['tipo_pessoa']==1 ?>
    </label>
    <label>
        <span>CEP</span>
        <input type="text" name="pgto[cep]" id="pgto_cep" class="mask-cep" value="<?=@$this->dadosPgto['cep']?>" >
    </label>
    <label>
        <span>endereço</span>
        <input type="text" name="pgto[logradouro]" id="pgto_logradouro" class="" value="<?=@$this->dadosPgto['logradouro']?>" >
    </label>
    <label>
        <span>número</span>
        <input type="text" name="pgto[numero]" id="pgto_numero" class="" value="<?=@$this->dadosPgto['numero']?>" >
    </label>
    <label>
        <span>complemento</span>
        <input type="text" name="pgto[complemento]" id="pgto_complemento" class="" value="<?=@$this->dadosPgto['complemento']?>">
    </label>
    <label>
        <span>bairro</span>
        <input type="text" name="pgto[bairro]" id="pgto_bairro" class="" value="<?=@$this->dadosPgto['bairro']?>" >
    </label>
    <label>
        <span>cidade</span>
        <input type="text" name="pgto[cidade]" id="pgto_cidade" class="" value="<?=@$this->dadosPgto['cidade']?>" >
    </label>
    <label>
        <span>UF</span>
        <?=$this->form_meus_dados->getElement('uf_id')->setValue(@$this->dadosPgto['uf_id'])->render()?>
    </label>
    <label>
        <span>optante por nf paulista?</span>
        <input type="radio" class="chk" name="pgto[nf_paulista]" id="pgto_nf_paulista_1" value="1" <?=(@$this->dadosPgto['nf_paulista']==1) ? 'checked' : ''?>> Sim
        <input type="radio" class="chk chk2" name="pgto[nf_paulista]" id="pgto_nf_paulista_0" value="0" <?=(@$this->dadosPgto['nf_paulista']==0) ? 'checked' : ''?>> Não
    </label>


    <br><br>
    <label><span class="tit">&nbsp;</span></label>
    <?/*<label>
        <span>e-mail</span>
        <input type="email" name="email" id="email" value="<?=$this->dadosCadastro['email']?>">
        <input type="hidden" name="id" id="id" value="<?=$this->dadosCadastro['id']?>">
    </label>
    <label>
        <span>senha atual</span>
        <input type="password" name="senhaa" id="senhaa">
    </label>*/?>
    <label>
        <span>alterar senha</span>
        <input type="password" name="senha" id="senha">
    </label>
    <label>
        <span>confirmar nova senha</span>
        <input type="password" name="senhac" id="confirmasenha">
    </label>

    <div class="submit-container">
        <a href="#" class="submit">SALVAR</a>
        <input type="submit" class="prosseguir" value="SALVAR">
    </div>
    <?/*<div class="row">
        <label for="cpf">CPF</label>
        <div class="formulario">
            <input type="text" name="cpfd" id="cpfd" class="mask-cpf disabled" value="<?=@Is_Format::cpf($this->dadosCadastro['cpf'])?>" disabled>
            <input type="hidden" name="cpf" id="cpf" value="<?=@Is_Format::cpf($this->dadosCadastro['cpf'])?>">
        </div>
    </div>
    <div class="row">
        <label for="nomecompleto">nome completo</label>
        <div class="formulario">
            <input type="text" name="nomed" id="nomecompletod" class="disabled" value="<?=@$this->dadosCadastro['nome']?>" disabled>
            <input type="hidden" name="nome" id="nomecompleto" value="<?=@$this->dadosCadastro['nome']?>">
        </div>
    </div>
    <div class="row">
        <label for="nomecracha">nome (crachá)</label>
        <div class="formulario">
            <input type="text" name="apelido" id="nomecracha" value="<?=@$this->dadosCadastro['apelido']?>">
        </div>
    </div>
    <div class="row">
        <label for="telefonefixo">telefone fixo</label>
        <div class="formulario">
            <input type="text" name="telefone" id="telefonefixo" class="mask-tel" value="<?=@Is_Format::tel($this->dadosCadastro['telefone'],'tel','-')?>">
        </div>
    </div>
    <div class="row">
        <label for="telefonecelular">telefone celular</label>
        <div class="formulario">
            <input type="text" name="celular" id="telefonecelular" class="mask-cel" value="<?=@Is_Format::tel($this->dadosCadastro['celular'],'cel','-')?>">
        </div>
    </div>
    <div class="row">
        <label for="cep">CEP</label>
        <div class="formulario">
            <input type="text" name="cep" id="cep" class="mask-cep" value="<?=@Is_Format::cep($this->dadosCadastro['cep'])?>">
        </div>
    </div>
    <div class="row">
        <label for="endereco">endereço</label>
        <div class="formulario">
            <input type="text" name="logradouro" id="logradouro" value="<?=@$this->dadosCadastro['logradouro']?>">
        </div>
    </div>
    <div class="row">
        <label for="numero">número</label>
        <div class="formulario">
            <input type="text" name="numero" id="numero" value="<?=@$this->dadosCadastro['numero']?>">
        </div>
    </div>
    <div class="row">
        <label for="complemento">complemento</label>
        <div class="formulario">
            <input type="text" name="complemento" id="complemento" value="<?=@$this->dadosCadastro['complemento']?>">
        </div>
    </div>
    <div class="row">
        <label for="bairro">bairro</label>
        <div class="formulario">
            <input type="text" name="bairro" id="bairro" value="<?=@$this->dadosCadastro['bairro']?>">
        </div>
    </div>
    <div class="row">
        <label for="cidade">cidade</label>
        <div class="formulario">
            <input type="text" name="cidade" id="cidade" value="<?=@$this->dadosCadastro['cidade']?>">
        </div>
    </div>
    <div class="row">
        <label for="uf">UF</label>
        <div class="formulario">
            <!-- <input type="text" name="uf" id="uf" maxlength="2"> -->
            <?//=$this->form_meus_dados->getElement('uf')->render()?>
            <?=$this->form_meus_dados->getElement('uf_id')->setValue(@$this->dadosCadastro['uf_id'])->render()?>
        </div>
    </div>
    <div class="row">
        <label for="empresa">empresa</label>
        <div class="formulario">
            <input type="text" name="empresa" id="empresa" value="<?=@$this->dadosCadastro['empresa']?>">
        </div>
    </div>
    <div class="row">
        <label for="cargo">cargo</label>
        <div class="formulario">
            <input type="text" name="cargo" id="cargo" value="<?=@$this->dadosCadastro['cargo']?>">
        </div>
    </div>
    <div class="row">
        <label for="atuacao">área de atuação</label>
        <div class="formulario">
            <input type="text" name="area_atuacao" id="area_atuacao" value="<?=@$this->dadosCadastro['area_atuacao']?>">
        </div>
    </div>

    <h6>DADOS DE LOGIN</h6>
    <div class="row">
        <label for="email">e-mail</label>
        <div class="formulario">
            <input type="email" name="email" id="email" value="<?=$this->dadosCadastro['email']?>">
            <input type="hidden" name="id" id="id" value="<?=$this->dadosCadastro['id']?>">
        </div>
    </div>
    <div class="row">
        <label for="senha">senha atual</label>
        <div class="formulario">
            <input type="password" name="senhaa" id="senhaa">
        </div>
    </div>
    <div class="row">
        <label for="senha">alterar senha</label>
        <div class="formulario">
            <input type="password" name="senha" id="senha">
        </div>
    </div>
    <div class="row">
        <label for="confirmasenha">confirmar senha</label>
        <div class="formulario">
            <input type="password" name="senhac" id="confirmasenha">
        </div>
    </div>

    <a href="#" class="form-submit save">
        <span>SALVAR</span>
    </a>*/?>
</form>
</div> <!-- /#forms -->

</div> <!-- /.main-content .portal -->