<div class="main-center main-content clipping">
	<h1>CLIPPING</h1>
	
	<? if($this->rows){ ?>
	<div class="posts">
	<? //$i=0; for($j=0;$j<14;$j++) foreach ($this->rows as $row) { $i++; ?>
	<? $i=0; foreach ($this->rows as $row) { $i++; ?>
	<? $img = $row->capa_id ? $row->thumbnail : @$row->fotos[0]->path; ?>
	<? $img = IMG_URL.'/clippings/'.imgThumbPath($img,'150x150_nocrop'); ?>
	<? $url = IMG_URL.'/clippings/'.@$row->fotos[0]->path; ?>
	<? $class = 'post clipping root '; ?>
	<? if($i%7==0){ $class.= 'last-desk '; } ?>
	<? if($i%4==0){ $class.= 'last-tab '; } ?>
	<? if($i%2==0){ $class.= 'last-cel '; } ?>
	<a class="<?=$class?>" href="<?=$url?>" title="<?=$row->titulo_pt?>" style="background-image:url(<?=$img?>)" data-fancybox="clipping<?=$row->id?>" data-id="<?=$row->id?>">
		<?=$row->titulo_pt?>
	</a>

	<? if((bool)$row->fotos){ ?>
	<div class="hidden-gallery" id="gallery-<?=$row->id?>">
        <? foreach ($row->fotos as $foto){ ?>
        <? if($foto->flag!='1'){ ?>
        <a href="<?=IMG_URL.'/clippings/'.$foto->path?>" class="clipping sub" data-fancybox="clipping<?=$row->id?>" id="clipping<?=$row->id?>-<?=$foto->ordem?>">
            <?=$foto->descricao_pt?>
        </a>
        <? } ?>
        <? } ?>
    </div>
	<? } // /if $row->fotos ?>

	<? } // /foreach rows ?>
	</div>
	<br clear="all">
	<? if($this->hasMore){ ?>
	<div class="ver-mais-wrapper">
		<div class="loading"></div>
		<a href="#" class="ver-mais">Ver mais +</a>
	</div>
	<? } // /if $this->hasMore ?>
	<? } // /if rows ?>


	<script type="text/x-jsrender" id="tmplPost">
	<a class="post clipping loaded root" href="<?=IMG_URL?>/clippings/{{:thumbnail}}" title="{{:titulo_pt}}" style="background-image:url(<?=IMG_URL?>/clippings/{{:thumbnail}})" data-fancybox="clipping{{:id}}" data-id="{{:id}}">
		{{:titulo_pt}}
	</a>

	{{if fotos}}
	<div class="hidden-gallery" id="gallery-{{:id}}">
        {{for fotos ~rootid=id}}
        {{if flag!=1}}
        <a href="<?=IMG_URL?>/clippings/{{:path}}" class="clipping sub" data-fancybox="clipping{{:~rootid}}" id="clipping{{:~rootid}}-{{:ordem}}">
            {{:descricao_pt}}
        </a>
        {{/if}}
        {{/for}}
    </div>
	{{/if}}
	</script>
</div>