				<p>
				<br>
				<ul>
				<li class="aviso-avaliacao-disp">
					A AVALIAÇÃO DE SATISFAÇÃO FICA DISPONÍVEL APÓS O TÉRMINO DAS AULAS
				</li>
                </ul>
                <br>
                </p>