				<? $section = $this->menu_sections[$this->menu_section]['render']; ?>
				<? if($section=='avaliacao/index'){ ?>
				<? $this->menu_sections[$this->menu_section]['render'] = 'avaliacao/index1'; ?>
                <? } ?>
                <?=$this->render('treinamentos/treinamentos-layout.phtml')?>

				<? /*if((bool)$this->rows){ ?>
                <div class="treinamento-detalhe">
                    <span class="titulo">
                    	<a href="#" class="titulo-voltar js-back">&laquo; voltar</a>
                    	<?=$this->rows[0]->treinamento?>
                    </span>
                    <p class="data"><span class="label"><?=$this->rows[0]->titulo?></span></p>
                </div>

                <p>
                <ul class="lista-notas">
				<li class="aviso-avaliacao-disp">
					A AVALIAÇÃO DE SATISFAÇÃO FICA DISPONÍVEL APÓS O TÉRMINO DAS AULAS
				</li>
                </ul>
                </p>

				<? } else { ?>
				<p>
				<br>
				<ul>
				<li class="aviso-avaliacao-disp">
					A AVALIAÇÃO DE SATISFAÇÃO FICA DISPONÍVEL APÓS O TÉRMINO DAS AULAS <?=$this->menu_sections[$this->menu_section]['render']?>
				</li>
                </ul>
                <br>
                </p>
				<? }*/ ?>