				<? if((bool)$this->pesquisa){ ?>
                <?/*<div class="treinamento-detalhe">
                    <span class="titulo">
                    	<a href="#" class="titulo-voltar js-back">&laquo; voltar</a>
                    	<?=$this->pesquisa->treinamento?>
                    </span>
                    <p class="data"><span class="label"><?=$this->pesquisa->titulo?></span></p>
                </div>*/?>

				<? if((bool)trim($this->pesquisa->obs)){ ?>
                <p><?=nl2br($this->pesquisa->obs)?></p>
                <? } // if pesquisa->obs ?>

                <p class="explica-notas">
                RESPONDA ABAIXO SENDO: <br>
                <? $exp_notas = array_reverse(Application_Model_Db_Respostas::getNotas(),true); ?>
                <? foreach($exp_notas as $k => $v){ ?><span class="icone-carinhas icone-carinhas-<?=$k?>"><?=($v)?></span><? } ?>
                </p>

                <form action="<?=URL.'/portal/avaliacao/salvar/'?>" class="frm-pesquisa" method="post">
			    <input type="hidden" name="pesquisa_id" value="<?=$this->pesquisa->id?>" />
			    <input type="hidden" name="avaliacao_id" value="<?=$this->pesquisa->id?>" />
			    <input type="hidden" name="produto_id" value="<?=$this->produto_id?>" />

			    <table class="tbl-pesquisa">
			    	<thead>
			    		<tr>
			    			<td>&nbsp;</td>
			                <td width="161">
				    		<? /*foreach($exp_notas as $k => $v){ ?>
			                <span class="icone-carinhas icone-carinhas-<?=$k?>"></span>
			                <? } ?>
			                </td>
			    			<td width="100" align="center">comentário</td>*/?>
			    			</td>
			    			<td width="100" align="center">&nbsp;</td>
			    		</tr>
			    	</thead>

			        <tbody>
			        <? $i=0; foreach($this->perguntas as $row){ ?>
			        
			        <? if((bool)$row->pre_titulo){ ?>
			        <? $isFirst = $i==0; $isNota = $row->tipo=='nota'; ?>
			        <tr class="tr-pre-titulo tr-<?=$row->tipo?>">
			            <td colspan="6">
			                <?=$row->pre_titulo?>
			            </td>
			        </tr>
			        <? } ?>

                	<? if($row->tipo=='nota') { ?>
			        <tr class="tr-<?=$row->tipo?>">
			            <td class="td-<?=$row->tipo?> td-<?=$row->tipo?>-0 td-0">
			                <?=$row->pergunta?>
			            </td>
		            	<td class="td-<?=$row->tipo?> td-<?=$row->tipo.'-'.$k?> td-nota-nota">
		                	<? foreach($exp_notas as $k => $v){ ?>
			                <a href="#" class="icone-carinhas resposta icone-carinhas-<?=$k?> <?=(@$row->resposta->resposta==$k)?'active':''?>" title="<?=$v?>" data-nota="<?=$k?>" data-pergunta-id="<?=$row->id?>"></a>
		                	<? } ?>
		                	<input type="hidden" name="nota_<?=$row->id?>" id="nota_<?=$row->id?>" data-pergunta-id="<?=$row->id?>" value="">
			            </td>
			            <td>
			            	<a href="#" class="comente" data-pergunta-id="<?=$row->id?>">comente</a>
			                <?//=$this->tbl->render($row,array('class'=>'txt'))?>
			            </td>
			        </tr>
			        <tr class="tr-nota-comentario" id="tr_nota_comentario_<?=$row->id?>">
			        	<td colspan="6">
			        		<textarea name="nota_<?=$row->id?>_obs" class="nota-comentario" id="obs_<?=$row->id?>" placeholder="Escreva um comentário..."></textarea>
			        	</td>
			        </tr>
                	
                	<? } else { ?>
                	<tr class="tr-pre-titulo tr-<?=$row->tipo?>">
			            <td colspan="6">
			                <?=$row->pergunta?>
			            </td>
			        </tr>
			        <tr class="tr-<?=$row->tipo?>">
			            <td colspan="6" class="td-<?=$row->tipo?> td-<?=$row->tipo?>-0 td-0">
			                <?=$this->tbl->render($row)?>
			            </td>
			        </tr>

			        <? } // if tipo==nota?>
			        
			        <? $i++; } ?>
			        </tbody>
			    </table>

			    <p class="autoriza-depoimento">
			        <label for="autoriza_depoimento_0">
			        	<input type="radio" name="autoriza_depoimento" id="autoriza_depoimento_0" value="1" checked>
			        	Autorizo a Neovalor a divulgar meu depoimento em eventos, treinamentos,
			        	comunicados, site, reportagens divulgações gerais sobre o assunto.
			        </label>
			        <br>
			        <label for="autoriza_depoimento_1">
			        	<input type="radio" name="autoriza_depoimento" id="autoriza_depoimento_1" value="0">
			        	Não autorizo a Neovalor divulgar meu depoimento.
			        </label>
			    </p>

			    <input type="submit" id="submit" class="submit" value="RESPONDER" />
				</form>

                <? } // if pesquisa ?>