				<h1>TREINAMENTOS</h1>

				<? if((bool)$this->rows){ ?>

				<? foreach ($this->rows as $row) { ?>
				<a href="<?=URL.'/portal/treinamentos/detalhe/'.$row->produto_id?>" class="treinamento">
					<span class="ver-detalhes">ver detalhes &rarr;</span>
					<span class="data">
						<? /*$produto_data = Is_Date::br2am($row->produto_data); ?> 
						<?=$this->date2($produto_data,'DAY')?>
                        <strong><?=$this->date2($produto_data,'MONTH_NAME_SHORT')?></strong>
                        <?=$this->date2($produto_data,'YEAR')*/?>
                        <?=$row->produto_data?>
					</span>
					<?//=$row->treinamento.' - '.$row->produto?>
					<?=$row->treinamento?>
				</a>
				<? } ?>

				<? } else { ?>
				<p>Nenhum treinamento encontrado.</p>
				<? } ?>