<link rel="stylesheet" href="<?=CSS_PATH?>/jquery-ui/jquery-ui.css" id="theme" />
<script type="text/javascript">
PHOTO_DESCRIPTION = false;
var ID = <?=$this->id?"'{$this->id}'":"false"?>;
</script>

<h3>&raquo; IMAGENS</h3>

<ul id="<?=$this->section?>_fotos" class="list_fotos order_fotos">
    <? if(count($this->fotos)){ foreach($this->fotos as $foto){ ?>
    <li>
        <a href='<?=URL?>/img/<?=$this->section?>:<?=$foto->path?>' rel='gallery_group'>
            <img src='<?=URL?>/img/<?=$this->section?>:<?=$foto->path?>?w=90&h=90&noadapt'>
        </a>
        <?/*<input type="text"
               name="foto_descricao[]"
               class="txt foto_descricao"
               id="foto_descricao_<?=$foto->foto_id?>"
               value="<?=utf8_encode($foto->descricao)?>"
               data-foto-id="<?=$foto->foto_id?>"
               data-clipping-id="<?=$this->id?>" />*/?>
        <?/*<input type="text"
               name="foto_descricao_pt[]"
               class="txt foto_descricao_pt"
               id="foto_descricao_pt_<?=$foto->foto_id?>"
               value="<?=utf8_encode($foto->descricao_pt)?>"
               title="tecle [ENTER] para salvar"
               data-foto-id="<?=$foto->foto_id?>"
               data-clipping-id="<?=$this->id?>" />*/?>
        <?/*<input type="text"
               name="foto_descricao_en[]"
               class="txt foto_descricao_en"
               id="foto_descricao_en_<?=$foto->foto_id?>"
               value="<?=utf8_encode($foto->descricao_en)?>"
               data-foto-id="<?=$foto->foto_id?>"
               data-clipping-id="<?=$this->id?>" />*/?>
        <label for="foto_flag_<?=$foto->foto_id?>">
        <input type="checkbox"
               name="foto_flag[]"
               class="txt foto_flag"
               id="foto_flag_<?=$foto->foto_id?>"
               value="1"
               <?=$foto->flag=='1'?'checked="checked"':''?>
               data-foto-id="<?=$foto->foto_id?>"
               data-clipping-id="<?=$this->id?>" />
        Capa</label>
        <button title="Delete" class="ui-state-default ui-corner-all file-delete">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <input type="hidden" name="foto_id[]" value="<?=$foto->foto_id?>" class="foto_id" />
        <input type="hidden" name="foto_ordem[]" value="<?=$foto->ordem?>" class="foto_ordem" />
        <span class="foto_status"></span>
    </li>
    <? }} ?>
</ul>
<div id="file_upload_container">
    <form id="file_upload" action="<?=$this->url?>upload.json?id=<?=$this->id?>" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" multiple />
        <button>Enviar fotos</button>
        <div>Enviar fotos</div>
        <input type="hidden" name="<?=$this->section?>_id" id="<?=$this->section?>_id" value="<?=$this->id?>" />
    </form>
    
    <p style="margin:10px 0;color:#666;font-style:italic;display:none;">
        * Para colocar um vídeo, envie uma imagem para a miniatura e coloque o link do vídeo no final da descrição da imagem.
    </p>
    
    <table id="file_upload_list" cellspacing="0" width="100%">
        <!--<tr class="error"><td colspan="3">Envie até 3 fotos de no máximo 2MB cada.</td></tr>-->
    </table>
</div>