<div class="content <?=$this->controller?>">
    <h1>MEU RELACIONAMENTO COM A SOLUM</h1>

    <? if($this->rows){ ?>
    <h3>HISTÓRICO DE ATIVIDADES:</h3>

    <table class="tbl tbl-atividades">
        <thead>
            <tr>
                <td>ATIVIDADE</td>
                <td width="130">DATA</td>
            </tr>
        </thead>
        <tbody>
            <? foreach($this->rows as $row){ ?>
            <tr>
                <td><?=$row->atividade?></td>
                <td><?=$row->data?></td>
            </tr>
            <? } ?>
        </tbody>
    </table>
    
    <br clear="all">
    <br clear="all">
    <? } // /if $this->rows ?>
    

    <? if($this->creditos){ ?>
    <h3>MEUS CRÉDITOS ATUAIS:</h3>

    <table class="tbl tbl-atividades">
        <thead>
            <tr>
                <td width="130">CRÉDITO</td>
                <td>MOTIVO</td>
                <td width="130">DATA</td>
            </tr>
        </thead>
        <tbody>
            <? foreach($this->creditos as $row){ ?>
            <? //if($row->tipo_id==2){ continue; } ?>
            <tr>
                <td>
                    <?=($row->tipo_id==2) ? '-' : ''?>
                    <?=_currency($row->valor)?>
                </td>
                <td><?=$row->motivo?></td>
                <td><?=$row->data_full?></td>
            </tr>
            <? } ?>
        </tbody>
    </table>
    
    <br clear="all">
    <br clear="all">
    <? } // /if $this->creditos ?>
</div>