    <div class="main treinamentos">
        <div class="title"></div>

        <div class="center">
            <div class="aside">
                <?=$this->render('treinamentos/aside.phtml')?>
            </div>

            <div class="conteudo">
                <?=$this->render('login/form-choose.phtml')?>
            </div>
        </div>
    </div>