				<form action="<?=URL.'/esqueci-minha-senha'?>" id="form-login" method="post" class="form-inscricao-padrao inscricao-login-form">
                    <label>
                        <input type="email" name="email" id="email" class="txt required" required placeholder="E-mail" data-validate="Preencha seu e-mail corretamente">
                    </label>

                    <input type="submit" class="submit-bt" id="submit-bt" value="ENVIAR">
                    <a href="#" id="submit">Enviar</a>
                    <a href="<?=URL?>/login" class="esq-senha">&laquo; voltar ao login</a>
                </form>

                <br clear="all">
                <br clear="all">
                <br clear="all">