			<h1>MEUS CURSOS</h1>
			<h3>CURSOS ATIVOS:</h3>

			<? if((bool)$this->rows){ ?>

			<? $arr_dias = arr_dias(); ?>
			<? foreach ($this->rows as $row) { ?>
			<div class="mobile-scroll-wrapper">
			<table class="tbl tbl-cursos-ativos">
				<tbody>
					<tr>
						<td class="td-curso-nome" rowspan="2">
							<?=$row->produto_ritmo?>
						</td>
						<td class="td-curso-tipo" rowspan="2" width="100">
							curso <br>
							<?=strtoupper($row->produto_tipo)?>
						</td>
						<td class="td-curso-dias">
							<?=strtolower((isset($row->produto_dias))?$row->produto_dias:$arr_dias[@$row->produto_dia_id])?>
						</td>
						<td class="td-curso-nivel">
							<?=$row->produto_nivel?>
						</td>
						<? if($row->produto_tipo_id==1){ ?>
						<td class="td-curso-datas">
							início: <?=date('d/m/y',strtotime($row->produto_data_ini))?> |
							fim: <?=date('d/m/y',strtotime($row->produto_data_final))?>
						</td>
						<? } else { ?>
						<td class="td-curso-data">
							data: <?=date('d/m/y',strtotime($row->produto_data))?>
						</td>
						<? } ?>
					</tr>
					<tr>
						<td class="td-curso-horarios">
							<?=$row->produto_horarios?>
						</td>
						<td class="td-curso-professores">
							<?=$row->produto_professores?>
						</td>
						<? if($row->produto_tipo_id==1 && array_key_exists($row->produto_id, $this->calendario)){ ?>
						<td class="td-curso-calendario">
							<a href="#calendario-<?=$row->produto_id?>" class="link-calendario" data-id="<?=$row->produto_id?>">
								consultar calendário de aulas &raquo;
							</a>
						</td>
						<? } ?>
					</tr>
				</tbody>
			</table>
			</div>
			<br clear="all">
			<? } // /foreach rows ?>

			<?=$this->render('checkout/calendario.phtml')?>

			<? } else { ?>
			<p>Nenhum curso ativo.</p>
			<? } // /if rows ?>
			
			<br>
			<h3>HISTÓRICO DE CURSOS REALIZADOS:</h3>

			<? if((bool)$this->rows2){ ?>
			
			<div class="mobile-scroll-wrapper">
			<table class="tbl tbl-cursos-historico">
				<thead>
					<tr>
						<td class="th-curso2-1">RITMO</td>
						<td class="th-curso2-2">TIPO</td>
						<td class="th-curso2-3">NÍVEL</td>
						<td class="th-curso2-4">INÍCIO</td>
						<td class="th-curso2-5">FIM</td>
						<td class="th-curso2-6">HORÁRIO</td>
						<td class="th-curso2-7">PROFESSORES</td>
					</tr>
				</thead>
				<tbody>
					<? foreach ($this->rows2 as $row) { ?>
					<tr>
						<td><?=$row->produto_ritmo?></td>
						<td><?=strtoupper($row->produto_tipo)?></td>
						<td><?=$row->produto_nivel?></td>
						<? if($row->produto_tipo_id==1){ ?>
						<td><?=date('d/m/y',strtotime($row->produto_data_ini))?></td>
						<td><?=date('d/m/y',strtotime($row->produto_data_final))?></td>
						<? } else { ?>
						<td><?=date('d/m/y',strtotime($row->produto_data))?></td>
						<td><?=date('d/m/y',strtotime($row->produto_data))?></td>
						<? } ?>
						<td><?=$row->produto_horarios?></td>
						<td><?=$row->produto_professores?></td>
					</tr>
					<? } ?>
				</tbody>
			</table>
			</div>
			<br clear="all">
			<br clear="all">
			<br clear="all">
			<br clear="all">
			<br clear="all">

			<? } else { ?>
			<p>Nenhum curso realizado anteriormente.</p>
			<? } ?>