                <? if($this->curso){ ?>
                <? $text_parts = array(
                	'descricao' => 'Sobre o curso',
                	'publico_alvo' => 'A quem se destina',
                	'objetivo' => 'Objetivo',
                	'carga_horaria' => 'Carga horária',
                	'conteudo_programatico' => 'Programa do curso',
                ); ?>
                <div class="curso-descricao">
                    <? foreach($text_parts as $k => $v){ ?>
                    <h4 class="curso-descricao-titulo"><?=$v?></h4>
                    <div class="curso-descricao-texto"><?=cleanHtml($this->curso->{$k})?></div>
                    <? } ?>

                    <?/*<div class="row">
                        <label>OBJETIVO</label>
                        <div class="texto">
                            <?=$this->curso->objetivo?>
                        </div>
                    </div>
                    <div class="row">
                        <label>PÚBLICO-ALVO</label>
                        <div class="texto">
                            <p><?=$this->curso->publico_alvo?></p>
                        </div>
                    </div>
                    <div class="row">
                        <label>PRÉ-REQUISITO</label>
                        <div class="texto">
                            <p><?=$this->curso->pre_requisito?></p>
                        </div>
                    </div>
                    <div class="row">
                        <label>CERTIFICADO</label>
                        <div class="texto">
                            <p><?=$this->curso->certificado?></p>
                        </div>
                    </div>
                    <div class="row">
                        <label>CARGA HORÁRIA</label>
                        <div class="texto">
                            <p><?=$this->curso->carga_horaria?></p>
                        </div>
                    </div>
                    <div class="row">
                        <label>CRONOGRAMA</label>
                        <div class="texto">
                            <p><?=$this->curso->cronograma?></p>
                        </div>
                    </div>
                    <div class="row">
                        <label>HORÁRIOS</label>
                        <div class="texto">
                            <p><?=$this->curso->horarios?></p>
                        </div>
                    </div>
                    <?/*<div class="row">
                        <label>INVESTIMENTO</label>
                        <div class="texto">
                            <p><?=_currency($this->curso->valor)?></p>
                        </div>
                    </div>
                    <div class="row">
                        <label>POLÍTICA DE DESCONTO</label>
                        <div class="texto">
                            <p><?=$this->curso->politica_desconto?></p>
                        </div>
                    </div>
                    <div class="row">
                        <label>CONTEÚDO PROGRAMÁTICO</label>
                        <div class="texto">
                            <p><?=$this->curso->conteudo_programatico?></p>
                        </div>
                    </div>*/?>
                </div>
                <? } else { ?>
                <p>Nenhum curso encontrado.</p>
                <? } ?>