				<h1>
					<a href="<?=URL?>/portal/cursos" class="portal-titulo-voltar">&laquo; Retornar para meus cursos</a>
					CURSOS
				</h1>

				<? if((bool)$this->row){ ?>
				<? $row = $this->row; ?>

				<div class="curso-detalhe">
					<span class="titulo">
						<?=$row->curso.' - '.$row->produto?> <br>
						<? $row_produto_data = Is_Date::br2am($row->produto_data); ?>
						<span class="data">
							<?=$this->date2($row_produto_data,'DAY')?>
	                        <?=$this->date2($row_produto_data,'MONTH_NAME_SHORT')?>
	                        <?=$this->date2($row_produto_data,'YEAR')?>
						</span>
					</span>
					
					<div class="curso-menu <?=$this->menu_section?>">
						<? foreach(@$this->menu_sections as $s => $menu){ $menu = (object)$menu; ?>
						<? if($s==$this->menu_section){ ?>
						<span class="curso-menu-link active"><?=$menu->titulo?></span>
						<?//=$menu->render.'.phtml'?>
						<div class="curso-page">
							<?=$this->render($menu->render.'.phtml')?>
						</div>
						<? } else { ?>
						<a class="curso-menu-link" href="<?=URL.'/portal/'.$menu->url.$row->produto_id?>"><?=$menu->titulo?></a>
						<? } ?>
						<? } ?>
						
						<?/*<a class="link-detalhe" href="<?=URL.'/portal/cursos/curso?id='.$row->curso_id?>">Programa do curso</a> <br>
						<a class="link-detalhe" href="<?=URL.'/portal/presencas?produto_id='.$row->produto_id?>">Frequência - Aulas e Horários</a> <br>
						<a class="link-detalhe" href="<?=URL.'/portal/notas?produto_id='.$row->produto_id?>">Notas</a> <br>
						<a class="link-detalhe" href="<?=URL.'/portal/avaliacao?produto_id='.$row->produto_id?>">Avaliação de satisfação</a> <br>
						<a class="link-detalhe" href="<?=URL.'/portal/certificados?produto_id='.$row->produto_id?>">Certificado</a> <br>*/?>
					</div>
				</div>

				<? } else { ?>
				<p>Nenhum curso encontrado.</p>
				<? } ?>