					<? $row = $this->row; ?>
					<? if((bool)@$this->instrutores) { ?>
					<div class="content-main consultores">
		            <? foreach($this->instrutores as $instrutor){ ?>
		            <div class="consultor">
		                <? if((bool)@$instrutor->foto_path){ ?>
		                <div class="imagem">
		                    <img src="<?=URL.'/img/instrutores|'.$instrutor->foto_path?>?w=132&h=132" alt="">
		                </div>
		                <? } ?>

		                <h3>
		                    <span>CONSULTOR </span>
		                    <?=$instrutor->titulo?>
		                </h3>

		                <p><?=nl2br($instrutor->body)?></p>
		            </div>
		            <? } ?>
					</div>
		            <? } else { ?>
		            <p>Nenhum consultor encontrado.</p>
		            <? } ?>