					<? $row = $this->row; ?>
					<p class="detalhe-local">
						<span class="label">Local:</span>
						<?=$row->produto_local?> <br>
						<a href="https://www.google.com/maps/place/<?=urlencode($row->produto_local)?>" class="ver-mapa" target="_blank">Ver mapa &raquo;</a>
						<br>
						<span class="label">Data de início:</span>
						<?=$row->produto_data?>
						<br>
						<span class="label">Data final:</span>
						<?=$row->produto_data_final?>
					</p>

					<p>
						<span class="label">Horário:</span>
						<?=$row->produto_horario?>
					</p>