					<? $row = $this->row; ?>
					<p>
						<? if($this->isCursoFromIncompany){ ?>

						<span class="label">VALOR DE CONTRATO</span>
						<?//=_currency($row->produto_valor)?>
						
						<? } else { ?>
						
						<span class="label">Investimento:</span>
						<?=_currency($row->produto_valor)?>
						<br>
						<span class="label">Situação do pagamento:</span>
						<?=$row->pedido_status.' '.$row->pedido_data_edit?>

						<? // pedido_itau_naopago ?>
						<? if($row->pedido_forma_id==1 &&
							  $row->pedido_status_id==1 &&
							  (bool)trim($row->pedido_itau_DC)){ ?>
						<input type="hidden" name="forma_pagamento" value="itau">
			            <div clear="all" id="pagamentos">
			            <div id="frm-itau"></div>
			            <FORM action="https://shopline.itau.com.br/shopline/shopline.aspx" method="post" name="form" id="form-itau" onsubmit=carregabrw() target="SHOPLINE">
			                <INPUT type="hidden" name="DC" id="form-itau-DC" value="" />
			                <INPUT type="submit" name="Shopline" id="form-itau-submit" class="concluir itau prosseguir" value="Abrir Itaú Shopline" />
			            </FORM>
			            <?=Js::script('TEST_DC = "'.$row->pedido_itau_DC.'";')?>
			            </div> <!-- #pagamentos .all -->
			            <p id="carregando-pagamento"></p>
						<? } // /pedido_itau_naopago ?>
						
						<? } // /isCursoFromIncompany ?>
					</p>