<? if(count($this->flash_messages)) if($this->flash_messages[0]->type == 'alert'){
    $m = ""; foreach($this->flash_messages as $fm) $m.= $fm->message."\\n";
    echo Js::script('$(document).ready(function(){ alert("'.$m.'"); });'); //echo Js::alert($m);
} else if($this->flash_messages[0]->type != 'return') { ?>
<div id="flash-messages" class="<?=$this->controller."-".$this->action;?> <?=$this->flash_messages[0]->type;?>">
    <ul>
        <? foreach($this->flash_messages as $fm){ ?>
        <li class="<?=$fm->type?>"><?=$fm->message?></li>
        <? } ?>
    </ul>
</div>
<? } ?>