<? $menu = array(
	'home'       => array('HOME','/'),
	'quem-somos' => array('QUEM SOMOS','/quem-somos'),
	'fazemos'    => array('O QUE FAZEMOS','/o-que-fazemos'),
    'projetos'   => array('PROJETOS','/projetos'),
    'novidades'  => array('NOVIDADES','/novidades'),
    'clipping'   => array('CLIPPING','/clipping'),
	'contato'    => array('CONTATO','/contato'),
); ?>

<div class="admin-menu">
    <ul class="navigation">
    	<? foreach($menu as $k => $m){ ?>
        <? $act = $this->module=='default'&&strstr(FULL_URL, $m[1]) ? 'active' : ''; ?>
        <? if($k=='home'&& $this->controller!='index'){ $act = ''; } ?>
        <? $url = $m[1]=='#' ? '#' : URL.$m[1]; ?>
        <li>
            <a href="<?=$url?>" class="<?=$k?> <?=$act?>"><?=$m[0]?></a>
    	</li>
    	<? } // /foreach menu ?>
    </ul>
</div>