<?
$js_path  = SCRIPT_MIN == 'load' ? JS_PATH.'/'  : ''; $css_path = SCRIPT_MIN == 'load' ? CSS_PATH.'/' : ''; $script_min = SCRIPT_MIN;
// $js  = array($js_path.'libs.js',$js_path.'layout.js');
$js  = array($js_path.'head.js',$js_path.'layout.js');
$css = array($css_path.'global.less');

if(!$this->meta_description) $this->meta_description = SITE_DESCRIPTION;
if(!$this->meta_keywords) $this->meta_keywords = defined('SITE_KEYWORDS') ? SITE_KEYWORDS : Is_Str::text2keywords($this->meta_description);

$page_title = $this->controller=='index' ? SITE_TITLE : (isset($this->titulo) ? $this->titulo : ucfirst(Is_Str::subsCaracteres($this->controller,' '))).' - '.SITE_TITLE;
?>

<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title><?=$page_title?></title>
<meta name="description" content="<?=$this->meta_description?>" />
<meta name="keywords" content="<?=$this->meta_keywords?>" />
<meta name="robots" content="index, follow" />
<? if($this->meta_canonical){ ?>
<link rel="canonical" href="<?=$this->meta_canonical?>" />
<? } ?>

<meta property="og:url" content="<?=$this->meta_og_url?$this->meta_og_url:URL?>"/>
<meta property="og:title" content="<?=$this->meta_og_title?$this->meta_og_title:$page_title?>"/>
<meta property="og:description" content="<?=$this->meta_og_description?$this->meta_og_description:$this->meta_description?>"/>
<meta property="og:image" content="<?=$this->meta_og_image?$this->meta_og_image:URL.CSS_PATH.'/img/logotipo-share.png'?>"/>
<meta property="og:image:width" content="200" />
<meta property="og:image:height" content="200" />
<link rel="image_src" href="<?=$this->meta_og_image?$this->meta_og_image:URL.CSS_PATH.'/img/logotipo-share.png'?>" />

<? if(ENV_PRO){ ?>
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<? } // /if ENV_PRO ?>

<script type="text/javascript">
var GLOBAL_URL = "<?=$this->url?>",
    URL        = "<?=URL?>",
    FULL_URL   = "<?=FULL_URL?>",
    ROOT_PATH  = "<?=ROOT_PATH?>",
    JS_PATH    = "<?=JS_PATH?>",
    CSS_PATH   = "<?=CSS_PATH?>",
    IMG_PATH   = "<?=IMG_PATH?>",
    DIR        = "<?=$this->section?>",
    CONTROLLER = "<?=$this->controller?>",
    ACTION     = "<?=$this->action?>",
    MODULE     = "<?=$this->module?>",
    SCRIPT     = <?=Js::exists($js_path.$this->controller) ? "\"{$this->controller}\"" : 'false'?>,
    APP_ENV    = "<?=APP_ENV?>",
    ENV_DEV    = <?=(ENV_DEV) ? 'true' : 'false'?>,
    ENV_PRO    = <?=(ENV_PRO) ? 'true' : 'false'?>,
    ENV_TEST   = <?=(ENV_TEST)? 'true' : 'false'?>,
    APPLICATION_ENV = "<?=APPLICATION_ENV?>";

if(!SCRIPT) SCRIPT = <?=Js::exists($js_path.$this->controller.'-'.$this->action) ? '"'.$this->controller.'-'.$this->action.'"' : 'false'?>;
if(MODULE=='portal') SCRIPT = 'portal';
</script>

<? $fonts = array('Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700','Montserrat:ital,wght@0,800;1,800'); ?>
<link href="https://fonts.googleapis.com/css2?family=<?=implode('&family=',$fonts)?>&display=swap" rel="stylesheet">
<?=Css::$script_min($css).PHP_EOL?>
<!--[if lt IE 9]><?=Css::getscript($css_path.'global-ie.css',0)?><![endif]-->
</head>
<body class=" body-<?=$this->controller?> body-<?=$this->controller.'-'.$this->action?> body-<?=$this->module?> body-<?=$this->module.'-'.$this->controller?> body-<?=$this->module.'-'.$this->controller.'-'.$this->action?> <?=($this->ajax ? 'ajax' : '')?>">

<?=$this->render("flash-messages.phtml");?>
<? $isDefaultIndex = $this->module=='default' && $this->controller=='index'; ?>

<div class="main main-<?=$this->controller?> main-<?=$this->controller.'-'.$this->action?> main-<?=$this->module?> main-<?=$this->module.'-'.$this->controller?> main-<?=$this->module.'-'.$this->controller.'-'.$this->action?> <?=($this->ajax ? 'ajax' : '')?>">
    <? if($isDefaultIndex){ ?>
    <div class="top-wrapper home">
    <header id="top" class="main-center top-<?=$this->controller?> main-center">
        <a class="site-title home" href="<?=URL?>/" title="<?=SITE_TITLE?>"><?=SITE_TITLE?></a>
    </header>
    </div>
    <? } else { ?>
    <div class="top-wrapper">
    <header id="top" class="main-center top-<?=$this->controller?> main-center">
        <a class="site-title" href="<?=URL?>/" title="<?=SITE_TITLE?>"><?=SITE_TITLE?></a>
        
        <button id="mobile-toggle" type="button" role="button" class="mobile"><span class="lines"></span></button>
        <nav class="top-menu" id="top-menu">
            <?//=$this->navigation()->menu($this->menu->top);?>
            <?=$this->render('layout-menu.phtml')?>
            <ul class="nav-social">
                <li><a href="<?=$this->dados->facebook?>" class="fb" title="Facebook" target="_blank">Facebook</a></li>
                <li><a href="<?=$this->dados->instagram?>" class="ig" title="Instagram" target="_blank">Instagram</a></li>
            </ul>
            <? if($this->user){ ?>
            <a href="<?=URL?>/login/logout" class="area-cliente active">Sair [X]</a>
            <? } else { ?>
            <a href="<?=URL?>/portal" class="area-cliente">Área do Cliente</a>
            <? } // /if $this->login ?>
        </nav>
    </header>
    </div>
    <? } // /if $this->controller!='index' ?>
    
    <div id="content" class="content content-<?=$this->controller?> content-<?=$this->controller.'-'.$this->action?>">
        <article><?=$this->layout()->content;?></article>
        <? if(!$isDefaultIndex){ ?>
        <br clear="all" />
        <? } // /if $this->controller!='index' ?>
    </div>
</div>

<? if($isDefaultIndex){ ?>
<div class="foot-index">
    <footer class="main-center">
        <nav class="footer-menu-home" id="footer-menu-home">
            <ul class="navigation">
                <li><a href="<?=URL?>/quem-somos">QUEM SOMOS</a></li>
                <li><a href="<?=URL?>/projetos">PROJETOS</a></li>
                <li><a href="<?=URL?>/contato">CONTATO</a></li>
            </ul>
        </nav>
    </footer>
</div>
<? } else { // /if $this->controller=='index' ?>
<div class="foot foot-<?=$this->controller?> <?=($this->ajax ? 'ajax' : '')?>">
    <footer class="main-center">
        <nav class="footer-menu" id="footer-menu">
            <ul class="nav-social">
                <li class="li-tel"><a href="tel:<?=Is_Str::removeCaracteres($this->dados->tel1)?>" class="tel"><?=$this->dados->tel1?></a></li>
                <li class="li-tel"><a href="http://api.whatsapp.com/send?phone=<?=Is_Str::removeCaracteres($this->dados->tel2)?>" class="tel wp" target="_blank"><?=$this->dados->tel2?></a></li>
                <br class="mobile-cel">
                <!-- <li><a href="mailto:<?=$this->dados->email?>" class="m" title="E-mail de contato">E-mail de contato</a></li> -->
                <li><a href="<?=URL?>/contato" class="m" title="E-mail de contato">E-mail de contato</a></li>
                <li><a href="<?=$this->dados->instagram?>" class="ig" title="Instagram" target="_blank">Instagram</a></li>
            </ul>
        </nav>

        <span class="credits">
            &copy; <?=date("Y")?> <?=SITE_TITLE?> - Todos os direitos reservados. <br class="mobile-cel">
            <a href="http://www.trupe.net" target="_blank">Criação de sites:</a>
            <a href="http://www.trupe.net" target="_blank">Trupe Agência Criativa <img src="<?=Img::b64(FULL_CSS_PATH.'/img/footer_icone-trupe.png')?>" alt="Trupe Agência Criativa" title="Trupe Agência Criativa"></a>
        </span>
    </footer>
</div>
<? } // /if $this->controller=='index' ?>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="<?=JS_URL?>/jquery-2.4.4.min.js"><\/script>')</script>
<?=Js::$script_min($js).PHP_EOL?>
<!--[if lt IE 9]><?=Js::getscript($js_path.'html5.js',0)?><![endif]-->

<? if(1 && ENV_PRO && defined('SITE_ANALYTICS')){ ?>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<?=SITE_ANALYTICS?>']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<? } ?>

</body>
</html>