	<div id="frm-clientes" class="tabs-container">
	
	<div id="clientes-left">
	<div id="clientes-search">
		Adicionar clientes:
		<div id="frm-clientes-search">
			<input type="text" id="buscacli" class="txt" placeholder="Buscar" autocomplete="off">
			<?=$this->formSelect('catcli',null,array('class'=>'txt'),$this->combo_catcli)?>
            <label for="check_all" class="lbl-check-all">
            	<input type="checkbox" name="check_all" id="check_all" title="Selecionar todos" />
            	Selecionar todos
            </label>
		</div>
	</div>
	
	<div id="clientes-result-wrapper">
	<ul id="clientes-result" class="clientes-list">
		<? foreach($this->clientes as $row){ ?>
		<? $checked = ''; ?>
		<? if($this->row) if(in_array($row->id, $this->clientes_id)) $checked = 'checked'; ?>
		<li id="clir-<?=$row->id?>" class="cat-<?=($row->categoria_id) ? $row->categoria_id : '0'?>">
			<label>
			<input type="checkbox" class="chk-cli" title="Adicionar" value="<?=$row->id?>" data-id="<?=$row->id?>" data-nome="<?=$row->nome?>" <?=$checked?>>
			<span class="cliente"><?=$row->nome?></span>
			</label>
		</li>
		<? } ?>
	</ul>
	</div>
	</div>

	<div id="clientes-right">
	<p class="clititlist">
		Lista de clientes que o arquivo está disponível: <br>
		<span class="del del-all" id="del-all" title="Remover">Remover todos</span>
		<span class="del-all">Remover todos</span>
	</p>
	
	<div id="clientes-list-wrapper">
	<ul id="clientes-list" class="clientes-list">
		<? if($this->consultorias) foreach($this->consultorias as $cons){ ?>
		<li id="cli-<?=$cons->cliente_id?>">
			<span class="del" data-id="<?=$cons->cliente_id?>" title="Remover">Remover</span>
			<?=$cons->cliente?>
		</li>
		<? } ?>
	</ul>

	<script type="text/x-jquery-tmpl" id="tmplRowCliente">
        <li id="cli-${id}">
			<span class="del del-cli" data-id="${id}" title="Remover">Remover</span>
			${nome}
		</li>
    </script>
	</div>
	</div>
	
	</div> <!-- /#frm-clientes.tabs-container -->