<?=$this->categorias?Js::script('var categorias = '.json_encode($this->categorias).';'):""?>
<?=$this->render($this->section."/search.phtml");?>

<div class="<?=$this->section?> search-result">
    <? if($this->rows){ ?>
    <table>
        <thead>
            <tr>
                <td width="200">Arquivo</td>
                <td width="200">Título</td>
                <td>Cliente</td>
                <td width="100" align="center">Data de envio</td>
                <? //if(@$this->login_permissoes[$this->section]->x){ ?>
                <td width="50" align="center">Excluir</td>
                <? //} ?>
            </tr>
        </thead>
        <tbody>
            <? foreach($this->rows as $row){ ?>
            <? $data_cad = explode(" ",$row->data_cad); $data_cad = Is_Date::am2br($data_cad[0]); ?>
            <? $enviado = $row->arquivo_flag=='1'; ?>
            <? //$url_edit= URL.'/admin/clientes/edit/'.$row->cliente_id.'?tipo_arq='.($enviado?'2':'1'); ?>
            <? $url_edit= URL.'/admin/'.$this->section.'/edit/'.$row->arquivo_id; ?>
            <? $url_del = URL.'/admin/'.$this->section.'/del/id/'.$row->arquivo_id; ?>
            <? $cliente_nome = $row->cliente_nome; ?>
            <? if($row->clientes) {
                $maxic=3; $ic=0; $cliente_nome = '';
                foreach($row->clientes as $cli){ $ic++;
                    if($ic>$maxic) {
                        $cliente_nome = substr($cliente_nome, 0, -2).' (mais '.(count($row->clientes)-$maxic).')  ';
                        break;
                    }
                    $cliente_nome.= $cli->nome.', ';
                }
                $cliente_nome = substr($cliente_nome, 0, -2);
            } ?>
            <? if(trim($cliente_nome)==''){ $cliente_nome = 'Todos'; } ?>
            <tr class="<?=($row->is_unread)?'unread':''?>" title="<?=($row->is_unread)?'Novos arquivos':''?>">
                <td>
                    <? if(@$this->login_permissoes[$this->section]->w){ ?>
                    <a href="<?=$url_edit?>"><?=$enviado?'&uarr;':'&darr;'?> <?=$row->arquivo_descricao?></a>
                    <? } else { ?><?=$row->arquivo_descricao?><? } ?>
                </td>
                <td>
                    <? if(@$this->login_permissoes[$this->section]->w){ ?>
                    <a href="<?=$url_edit?>"><?=$row->arquivo_titulo?></a>
                    <? } else { ?><?=$row->arquivo_titulo?><? } ?>
                </td>
                <td>
                    <? if(@$this->login_permissoes[$this->section]->w){ ?>
                    <a href="<?=$url_edit?>"><?=$cliente_nome?></a>
                    <? } else { ?><?=$cliente_nome?><? } ?>
                </td>
                <td align="center">
                    <? if(@$this->login_permissoes[$this->section]->w){ ?>
                    <a href="<?=$url_edit?>"><?=$data_cad?></a>
                    <? } else { ?><?=$data_cad?><? } ?>
                </td>
                <? //if(@$this->login_permissoes[$this->section]->x){ ?>
                <td align="center">
                    <a href="<?=$url_del?>" class="del">X</a>
                </td>
                <? //} ?>
            </tr>
            <? } ?>
        </tbody>
    </table>
    <? } else { ?>
    Nenhum registro.
    <? } ?>
</div>

<br clear="all" />
<?=(!$this->busca)?$this->paginacao->render():''?>