<?=Js::script('var MAX_FILES = '.($this->MAX_FILES ? $this->MAX_FILES : '0').';')?>
<?=Js::script('allow_photos = '.($this->allow_photos ? 'true' : 'false').';')?>
<div class="content-right">
    <? if($this->id && $this->allow_photos){ $this->fotos_in_text = true; ?>
    <div id="fotos">
        <?=$this->render($this->section.'/fotos.phtml');?>
    </div>
    <? } ?>

    <? if($this->allow_files){ ?>
    <div id="arquivos">
        <?=$this->render($this->section.'/arquivos.phtml');?>
    </div>
    <? } ?>

    <? if($this->row){ ?>
    <div id="side-buttons">
        <!-- <h3>&raquo; AÇÕES</h3> -->
        <? if((bool)trim($this->row->path)){ ?>
        <a href="<?=FILE_URL.'/'.$this->section.'/'.$this->row->path?>" class="bt" target="_blank">Visualizar arquivo</a>
        <? } ?>
        <? //if(in_array($this->row->status_id,array(0,1,2))){ ?>
        <a href="<?=URL.'/admin/'.$this->section.'/del/id/'.$this->id?>" class="bt important" id="del-file">Excluir arquivo</a>
        <? //} ?>
    </div>
    <? } ?>
</div>

<div id="form-new">
    <div class="tabs">
    <ul class="tabs-navigation">
        <li><a href="#frm-dados">Dados</a></li>
        <li><a href="#frm-arquivo">Arquivo</a></li>
        <!-- <li><a href="#frm-clientes">Clientes</a></li> -->
    </ul>

    <!-- tab containers -->
    <!-- #frm-dados -->
    <form action="<?=$this->form->getAction();?>" method="<?=$this->form->getMethod();?>" id="<?=$this->form->getId();?>" class="<?=$this->form->getId();?> <?=$this->action?>" enctype="multipart/form-data">
    <div id="frm-dados" class="tabs-container">
        <ul>
            <? /*if($this->id){ ?>
            <li class="txt">
                <label for="">Link da notícia</label>
                <? $url_noticia = URL.'/noticia/'.$this->form->alias->getValue().'-'.$this->id; ?>
                <? $url_noticia = URL.'/artigos-e-novidades/'.$this->form->alias->getValue().'-'.$this->id; ?>
                <a class="txt link-noticia" href="<?=$url_noticia?>" target="_blank">
                    <?=$url_noticia?>
                </a>
            </li>
            <? }*/ ?>
            <? foreach($this->form->getElements() as $elm){ ?>
            <li class="<?=$elm->getAttrib("class")?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                
                <?=$elm->render()?>

                <? /*if($elm->getId() == "body" || $elm->getId() == "body_pt" || $elm->getId() == "body_en"){ ?>
                <span class="tip">
                    * Para inserir um vídeo no texto, utilize ícone correspondente na barra de ferramentas ou insira o bbcode [video] contendo a URL ou ID do vídeo no Youtube. Por Exemplo:
                    <br />
                    <b>[video]http://www.youtube.com/watch?v=oSLeDfu82Do[/video]</b> ou <br>
                    <b>[video]oSLeDfu82Do[/video]</b>
                    <br /><br />
                </span>
                <? }*/ ?>
            </li>
            
            <? if($elm->getId()=="status_id"){ ?>
            </ul></div>
            <!-- #frm-arquivo -->
            <div id="frm-arquivo" class="tabs-container">
            <ul>
            <? } ?>
            
            <? } // foreach ?>
        </ul>
    </div> <!-- #frm-dados -->

    <!-- #frm-clientes -->
    <?//=$this->render('consultorias/clientes.phtml')?>
    
    <div class="bt-container">
        <input type="submit" class="bt" value="Salvar" id="submit" />
    </div>
    </form>
    </div> <!-- .tabs -->
</div>