<div class="search-bar">
    <? //if(@$this->login_permissoes[@$this->section]->w){ ?>
    <form action="<?=$this->url?>new/" method="get" class="order-form">
        <input type="submit" class="bt" value="+ Adicionar" />
    </form>
    <? //} ?>
    
    <form action="" method="get" class="search-form">
        <label for="search-by" class="search-label">Buscar por:</label>
        <?=$this->formSelect('search-by',@$_POST['search-by'],array('class'=>'txt'),array(
            "arquivo"=>"Arquivo",
            "cliente"=>"Cliente",
            // "categoria_id"=>"Categoria",
        ))?>
        <? $searchTxt = $this->formText('search-txt',@$_POST['search-txt'],array('class'=>'txt')); ?>
        <? if(@$_POST['search-by']=='categoria_id') $searchTxt = $this->formSelect('search-txt',@$_POST['search-txt'],array('class'=>'txt','style'=>'width: 180px;'),$this->categorias); ?>
        <?=$searchTxt?>
        <input type="submit" class="bt" value="Enviar" />
    </form>
</div>