<h1>
    Meu cadastro
    <span id="pre-obr">(*) preenchimento obrigatório</span>
</h1>

<div class="content-text">
    <a href="<?=URL?>/login/logout" class="logout">Sair &raquo;</a>
    <div class="tabs">
        <!-- tabs --> 
        <ul class="tabs-navigation">
            <li><a href="#meus-dados">Meus dados</a></li> 
            <li><a href="#meus-pedidos">Meus pedidos</a></li> 
            <li><a href="<?=URL?>/cha-de-bebe/criar-lista/">Minhas listas</a></li> 
        </ul> 
        <!-- tab containers --> 
        <?=$this->render('meu-cadastro/meus-dados.phtml')?>
        <?//=$this->render('meu-cadastro/meus-pedidos.phtml')?>
    </div> 
</div>