                <a href="#" class="aviso-destaque add-treinamento aviso-vagas">
                    <span class="no-arrow">
                        AGRADECEMOS O INTERESSE. <br><br>
                        SE A TURMA QUE VOCÊ ESCOLHEU TIVER GRANDE PROCURA <br>
                        NOVAS VAGAS SERÃO ABERTAS E VOCÊ SERÁ AVISADO POR <br>
                        E-MAIL OU TELEFONE PARA FAZER SUA INSCRIÇÃO ONLINE.
                    </span>
                </a>

                <a href="<?=URL?>/treinamentos/programacao" class="aviso-destaque add-treinamento">
                    <span class="no-arrow">VER OUTROS TREINAMENTOS &raquo;</span>
                </a>