            <? $this->step = 1; ?>
            <?=$this->render('meu-carrinho/passos.phtml')?>

            <h1>NOVO CADASTRO - CRIAR LOGIN</h1>

            <form action="<?=URL.'/cadastro/save1?return='.$this->controller.'.'.$this->action?>" method="post" class="form-inscricao-padrao inscricao-login-form">
                <label>
                    <span>e-mail</span>
                    <input type="email" name="email" id="email" required>
                </label>
                <label>
                    <span>senha</span>
                    <input type="password" name="senha" id="senha" required>
                </label>
                <label>
                    <span>confirmar senha</span>
                    <input type="password" name="senhac" id="confirmasenha" required>
                </label>
                <? if($this->incompany){ ?>
                <input type="hidden" name="return" value="<?=$this->return?>">
                <input type="hidden" name="incompany" value="<?=$this->incompany_id?>">
                <input type="hidden" name="area" value="incompany">
                <? } ?>
                <input type="submit" class="prosseguir" value="PROSSEGUIR &raquo; 2: INFORMAR DADOS PESSOAIS OU DE GRUPOS">
            </form>

                <?/*<h4>
                    <? if($this->login->user){ ?>
                    <a href="<?=URL?>/login/logout" class="botao-sair">sair [x]</a>
                    <? } ?>
                    FORMULÁRIO DE INSCRIÇÃO
                </h4>
                <div class="inscricao-wrapper">
                    <? $this->step = 1; ?>
                    <?=$this->render('meu-carrinho/passos.phtml')?>

                    <h5>NOVO CADASTRO</h5>
                    <h6>DADOS DE LOGIN</h6>
                    <form action="<?=URL.'/cadastro/save1?return='.$this->controller.'.'.$this->action?>" method="post" class="form-inscricao-padrao">
                        <div class="row">
                            <label for="email">e-mail</label>
                            <div class="formulario">
                                <input type="email" name="email" id="email">
                            </div>
                        </div>
                        <div class="row">
                            <label for="senha">senha</label>
                            <div class="formulario">
                                <input type="password" name="senha" id="senha">
                            </div>
                        </div>
                        <div class="row">
                            <label for="confirmasenha">confirmar senha</label>
                            <div class="formulario">
                                <input type="password" name="senhac" id="confirmasenha">
                            </div>
                        </div>
                        <a href="#" class="form-submit">
                            <span>PROSSEGUIR: PASSO 2: INFORMAR DADOS PESSOAIS</span>
                        </a>
                    </form>
                </div>*/?>