<div class="tabs-container" id="meus-dados"> 
    <form action="<?=$this->form_meus_dados->getAction();?>" method="<?=$this->form_meus_dados->getMethod();?>"  id="<?=$this->form_meus_dados->getId();?>">
        <ul class="first">
            <? foreach($this->form_meus_dados->getElements() as $elm){ ?>
            <? /*if($elm->getId() == "senha2"){ ?>
            </ul><fieldset><span class="legend"><?=$this->modulo=='meu-cadastro'?'ALTERAR ':''?>SENHA DE ACESSO</span><ul>
            <? }*/ ?>
            <? if($elm->getId() == "email1"){ ?>
            </ul><ul>
            <? } ?>
            <li class="<?=$elm->getAttrib("class")?> li-<?=$elm->getId()?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>" class="lbl"><?=$elm->getLabel()?></label>
                <? } ?>
                
                <?=$elm->render()?>

                <? if($elm->getId() == "cep"){ ?>
                <a href="http://www.buscacep.correios.com.br/servicos/dnec/menuAction.do?Metodo=menuLogradouro" class="link-u buscar-cep" target="_blank">não sei o meu CEP</a>
                <? } ?>
            </li>
            <? if($elm->getId() == "senha-c"){ ?>
            </ul></fieldset>
            <? } ?>
            <? } ?>
        </ul>
    </form>
    <div class="bt-red-whole">
        <a href="#" id="cadastro-voltar" class="js-back">
            voltar
        </a>
        <a href="#" id="cadastro-submit">
            <?=$this->modulo=='meu-cadastro'?'salvar':'enviar'?>
        </a>
    </div>
</div> 