            <? $this->step = 3; ?>
            <?=$this->render('meu-carrinho/passos.phtml')?>

            <h1 class="dados-pessoais">
                DADOS DE PAGAMENTO
                <? if($this->login->user){ ?>
                <a href="<?=URL?>/login/logout" class="botao-sair">sair [x]</a>
                <? } ?>
            </h1>

            <form action="<?=URL.'/'.$this->controller?>/save3" method="post" class="form-inscricao-padrao dados-pagamento-form">
                <p class="titulo-form">Dados do responsável pelo pagamento:</p>
                <br>
                <label>
                    <span>CPF</span>
                    <input type="text" name="cpf" id="cpf" class="mask-cpf" value="<?=($this->row_dados)?Is_Format::cpf($this->row_dados->cpf):''?>">
                </label>
                <label>
                    <span>nome completo</span>
                    <input type="text" name="nome" id="nomecompleto" value="<?=($this->row_dados)?$this->row_dados->nome:''?>">
                </label>
                <?/*<label>
                    <span>nome (crachá)</span>
                    <input type="text" name="nome_cracha">
                </label>*/?>
                <label>
                    <span>e-mail</span>
                    <input type="email" name="email" id="email" value="<?=($this->row_dados)?$this->row_dados->email:''?>">
                </label>
                <label>
                    <span>telefone para contato</span>
                    <input type="text" name="telefone" id="telefone" class="half-width mask-cel" value="<?=($this->row_dados)?$this->row_dados->telefone:''?>">
                </label>
                <label>
                    <span>outro telefone para contato</span>
                    <input type="text" name="celular" id="celular" class="half-width mask-cel" value="<?=($this->row_dados)?$this->row_dados->celular:''?>">
                </label>
                <label>
                    <span>empresa</span>
                    <input type="text" name="empresa" id="empresa" value="<?=($this->row_dados)?$this->row_dados->empresa:''?>">
                </label>
                <label>
                    <span>cargo</span>
                    <input type="text" name="funcao_area" id="funcao_area" value="<?=($this->row_dados)?$this->row_dados->funcao_area:''?>">
                </label>
                <?/*<label>
                    <span>website</span>
                    <input type="text" name="site" id="site" value="<?=($this->row_dados)?$this->row_dados->site:''?>">
                </label>*/?>
                <? $mostraCep = (bool)$this->row_dados && @$this->row_dados->tipo_pessoa>0; ?>
                <label class="label-cep <?=$mostraCep ? '' : 'hidden'?>">
                    <span>CEP</span>
                    <input type="text" name="cep" id="cep" class="half-width mask-cep" placeholder="digite para simular a busca" value="<?=($this->row_dados)?Is_Format::cep($this->row_dados->cep):''?>">
                    <div class="loading">&middot;&middot;&middot;</div>
                </label>
                <div class="campos-cep <?=$mostraCep ? '' : 'hidden'?>">
                    <label>
                        <span>endereço</span>
                        <input type="text" name="logradouro" id="logradouro" value="<?=($this->row_dados)?$this->row_dados->logradouro:''?>">
                    </label>
                    <label>
                        <span>número</span>
                        <input type="text" name="numero" class="quarter-width" id="numero" value="<?=($this->row_dados)?$this->row_dados->numero:''?>">
                    </label>
                    <label>
                        <span>complemento</span>
                        <input type="text" name="complemento" class="half-width" id="complemento" value="<?=($this->row_dados)?$this->row_dados->complemento:''?>">
                    </label>
                    <label>
                        <span>bairro</span>
                        <input type="text" name="bairro" class="handle-bairro" id="bairro" value="<?=($this->row_dados)?$this->row_dados->bairro:''?>">
                    </label>
                    <label>
                        <span>cidade</span>
                        <input type="text" name="cidade" class="handle-cidade" id="cidade" value="<?=($this->row_dados)?$this->row_dados->cidade:''?>">
                    </label>
                    <label>
                        <span>UF</span>
                        <?/*<input type="text" name="uf" class="handle-uf" class="quarter-width">*/?>
                        <?=($this->row_dados)?
                                $this->form->getElement('uf')->setValue($this->row_dados->uf_id)->render():
                                $this->form->getElement('uf')->render()?>
                    </label>
                    <?/*<div class="row">
                        <span>endereço de cobrança</span>
                        <div class="radios">
                            <label>
                                <input type="radio" name="pf_endereco_cobranca" class="endereco-cobranca-radio" value="mesmo" checked>
                                o mesmo
                            </label>
                            <label>
                                <input type="radio" name="pf_endereco_cobranca" class="endereco-cobranca-radio" value="novo">
                                cadastrar novo
                            </label>
                        </div>
                    </div>*/?>
                </div>

                <div class="codigo-promocional">
                    <label>
                        <span>Possui código promocional?</span>
                        <input type="text" name="codigo-promocional" placeholder="inserir código promocional" class="half-width cod-promo-cod item-cupom-desconto" id="codigo-promocional">
                        <? $cart_pids = array(); ?>
                        <span class="status-cod-promo cart-item-cupom-desconto-price"></span>
                        <? foreach($this->cart->items as $item){ $cart_pids[]=$item->item->id; } ?>
                        <? $cart_pids = implode(',', $cart_pids); ?>
                        <input type="hidden" id="codigo-promocional-produtos" class="cod-promo-pids item-cupom-produtos" value="<?=$cart_pids?>" >
                    </label>
                    <a href="#" id="calcular-desconto" class="cart-item-amount-check-cupom-desconto">CALCULAR DESCONTO</a>
                </div>

                <p class="pagamento-valor-total">
                    <? $valor_total_treinamentos = 0; ?>
                    <? foreach($this->cart->items as $item){ $valor_total_treinamentos+= $item->item->valor; } ?>
                    <? /*foreach($this->cart->items as $item){ 
                        ($this->sessionCadastro->isGrupo) ?
                            $valor_total_treinamentos+= $item->item->valor_grupo*$this->sessionCadastro->grupoQtde :
                            $valor_total_treinamentos+= $item->item->valor;
                    }*/ ?>
                    VALOR TOTAL DOS TREINAMENTOS: <font class="price-total"><?=_currency($valor_total_treinamentos)?></font>
                    <input type="hidden" class="item-cart-total" value="<?=$valor_total_treinamentos?>">
                    <input type="hidden" class="item-cart-total-check" value="<?=$valor_total_treinamentos?>">
                </p>

                <?/*<label class="termos-e-condicoes">
                    <input type="checkbox" name="termos" id="termos" value="1">
                    Li e aceito os 
                    <a href="<?=URL?>/termos-e-condicoes-comerciais?iframe" id="link-termos-opener">TERMOS E CONDIÇÕES COMERCIAIS</a>
                    para a aquisição do(s) treinamento(s) supra citados.
                </label>

                <div class="texto-infoad">
                    <?=$this->pagina_infoad->body?>
                </div>
                <?/*<p class="titulo-form">Informações Adicionais</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus tempora quod omnis cumque facere ab!</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam suscipit accusamus repellendus animi libero delectus reprehenderit repudiandae ipsa veritatis in.</li>
                </ul>*/?>
                
                <? if($this->row_dados){?>
                <input type="hidden" name="cliente_id" value="<?=$this->row_dados->cliente_id?>">
                <? } ?>
                <input type="submit" class="prosseguir" value="PROSSEGUIR &raquo;">
            </form>

                <?/*<h4>
                    <? if($this->login->user){ ?>
                    <a href="<?=URL?>/login/logout" class="botao-sair">sair [x]</a>
                    <? } ?>
                    FORMULÁRIO DE INSCRIÇÃO
                </h4>
                <div class="inscricao-wrapper">
                    <? $this->step = 3; ?>
                    <?=$this->render('meu-carrinho/passos.phtml')?>

                    <h5>NOVO CADASTRO</h5>
                    <h6>DADOS DO RESPONSÁVEL PELO PAGAMENTO | PESSOA FÍSICA (OUTRO)</h6>
                    <form action="<?=URL.'/'.$this->controller?>/save3" method="post" class="form-inscricao-padrao">
                        <div class="row">
                            <label for="nomecompleto">nome completo</label>
                            <div class="formulario">
                                <input type="text" name="nome" id="nomecompleto" value="<?=($this->row_dados)?$this->row_dados->nome:''?>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="email">e-mail</label>
                            <div class="formulario">
                                <input type="email" name="email" id="email" value="<?=($this->row_dados)?$this->row_dados->email:''?>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="cpf">CPF</label>
                            <div class="formulario">
                                <input type="text" name="cpf" id="cpf" class="mask-cpf" value="<?=($this->row_dados)?Is_Format::cpf($this->row_dados->cpf):''?>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="cep">CEP</label>
                            <div class="formulario">
                                <input type="text" name="cep" id="cep" class="mask-cep" value="<?=($this->row_dados)?Is_Format::cep($this->row_dados->cep):''?>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="endereco">endereço</label>
                            <div class="formulario">
                                <input type="text" name="logradouro" id="logradouro" value="<?=($this->row_dados)?$this->row_dados->logradouro:''?>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="numero">número</label>
                            <div class="formulario">
                                <input type="text" name="numero" id="numero" value="<?=($this->row_dados)?$this->row_dados->numero:''?>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="complemento">complemento</label>
                            <div class="formulario">
                                <input type="text" name="complemento" id="complemento" value="<?=($this->row_dados)?$this->row_dados->complemento:''?>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="bairro">bairro</label>
                            <div class="formulario">
                                <input type="text" name="bairro" id="bairro" value="<?=($this->row_dados)?$this->row_dados->bairro:''?>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="cidade">cidade</label>
                            <div class="formulario">
                                <input type="text" name="cidade" id="cidade" value="<?=($this->row_dados)?$this->row_dados->cidade:''?>">
                            </div>
                        </div>
                        <div class="row">
                            <label for="uf">UF</label>
                            <div class="formulario">
                                <!-- <input type="text" name="uf" id="uf"> -->
                                <?=($this->row_dados)?
                                    $this->form->getElement('uf')->setValue($this->row_dados->uf_id)->render():
                                    $this->form->getElement('uf')->render()?>
                            </div>
                        </div>

                        <?/*<h6>DADOS DE PAGAMENTO</h6>
                        <label class="forma-pagamento">
                            <input type="radio" name="pagamento" value="boleto">
                            boleto
                        </label>
                        <label class="forma-pagamento">
                            <input type="radio" name="pagamento" value="cartao">
                            cartão de crédito
                        </label>
                        <div class="row">
                            <label>bandeira</label>
                            <div class="formulario">
                                <label>
                                    <input type="radio" name="bandeira" value="visa">
                                    VISA
                                </label>
                                <label>
                                    <input type="radio" name="bandeira" value="mastercard">
                                    Mastercard
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <label for="numero-cartao">número do cartão</label>
                            <div class="formulario">
                                <input type="text" name="numero-cartao" id="numero-cartao">
                            </div>
                        </div>
                        <div class="row">
                            <label for="vencimento-cartao">vencimento</label>
                            <div class="formulario">
                                <input type="text" name="vencimento-cartao" id="vencimento-cartao">
                            </div>
                        </div>
                        <div class="row">
                            <label for="codigo-seguranca-cartao">código de segurança</label>
                            <div class="formulario">
                                <input type="text" name="codigo-seguranca-cartao" id="codigo-seguranca-cartao">
                            </div>
                        </div>
                        <div class="row codigo-promocional">
                            <label for="codigo-promocional">CÓDIGO PROMOCIONAL</label>
                            <div class="formulario">
                                <input type="text" name="codigo-promocional" id="codigo-promocional">
                                <p>Se você possui um código promocional insira-o aqui para obter seu desconto.</p>
                            </div>
                        </div>//?>
                        <div class="row codigo-promocional">
                            <label for="codigo-promocional">CÓDIGO PROMOCIONAL</label>
                            <div class="formulario">
                                <input type="text" name="codigo-promocional" id="codigo-promocional" class="cod-promo-cod item-cupom-desconto" placeholder="Insira o código aqui e tecle [ENTER]">
                                <? $cart_pids = array(); ?>
                                <span class="status-cod-promo cart-item-cupom-desconto-price"></span>
                                <? foreach($this->cart->items as $item){ $cart_pids[]=$item->item->id; } ?>
                                <? $cart_pids = implode(',', $cart_pids); ?>
                                <input type="hidden" id="codigo-promocional-produtos" class="cod-promo-pids item-cupom-produtos" value="<?=$cart_pids?>" >
                                <p>Se você possui um código promocional insira-o aqui para obter seu desconto.</p>
                            </div>
                        </div>

                        <a href="#" class="form-submit">
                            <? if($this->row_dados){?>
                            <input type="hidden" name="cliente_id" value="<?=$this->row_dados->cliente_id?>">
                            <? } ?>
                            <span>PROSSEGUIR: PASSO 4: CONFIRMAR E FINALIZAR INSCRIÇÃO</span>
                        </a>
                    </form>
                </div>*/?>