<h1>Meus Pedidos</h1>

<div class="content-text">
    <div class="tabs-container" id="meus-pedidos">
        <? if($this->pedidos){ ?>
        <table class="tbl-pedidos">
            <thead>
                <tr>
                    <th>Pedido</th>
                    <th>Data</th>
                    <th>Valor total</th>
                    <th>Status do pedido</th>
                </tr>
            </thead>
            <tbody>
                <? foreach($this->pedidos as $row){ ?>
                <? $total = 0; ?>
                <? foreach($row->items as $item) $total+= $item->item->valor*$item->count;?>
                <? foreach($row->taxas as $taxa) $total+= $taxa->valor; ?>
                <tr>
                    <td><a href="<?=URL.'/meu-cadastro/pedido/'.$row->id?>"><?=Application_Model_Carrinho::formatNumber($row->id)?></a></td>
                    <td><a href="<?=URL.'/meu-cadastro/pedido/'.$row->id?>"><?=Is_Date::am2br($row->data_cad)?></a></td>
                    <td><a href="<?=URL.'/meu-cadastro/pedido/'.$row->id?>"><?=_currency(($total<0?0:$total));?></a></td>
                    <td>
                        <? $data_pago = strlen($row->data_pago) == 0 ? false : Is_Date::am2br($row->data_pago); ?>
                        <? $data_ent =  strlen($row->data_entrega) == 0 ? false : Is_Date::am2br($row->data_entrega); ?>

                        <? if(in_array($row->status->id,array(3)) && $data_pago){ ?>
                        <?='Pago em '.$data_pago?>
                        <? } else if(in_array($row->status->id,array(10)) && $data_ent){ ?>
                        <?='Entregue em '.$data_ent?>
                        <? } else { ?>
                        <?=$row->status->descricao?>
                        <? } ?>
                    </td>
                </tr>
                <? } // foreach pedidos ?>
            </tbody>
        </table>

        <div class="paginacao">
        <? $this->paginacao->get_page(); if($this->paginacao->_total_pages > 1){
            $t = $this->paginacao->_total_pages;
            $p = $this->paginacao->get_page();
            
            if($p != $t){
                echo '<a href="'.$this->paginacao->_build_uri($p+1).'" class="navigation left"><span class="icone"></span>PEDIDOS ANTERIORES</a>';
            }
            
            if($p != 1){
                echo '<a href="'.$this->paginacao->_build_uri($p-1).'" class="navigation right"><span class="icone"></span>PEDIDOS MAIS RECENTES</a>';
            }
        } ?>
        </div>

        <? } else { // if pedidos ?>
        
        <div class="cart-empty">
            <h3>Você não possui nenhum pedido.</h3>
        </div>
        
        <? } // if pedidos ?>

        <?=$this->render('meu-cadastro/meus-pedidos-busca.phtml')?>
        
        <!--<br clear="all" />-->
    </div>
</div>