            <? $this->step = 3; ?>
            <?=$this->render('meu-carrinho/passos.phtml')?>

            <h1 class="dados-pessoais">
                DADOS DE PAGAMENTO
                <? if($this->login->user){ ?>
                <a href="<?=URL?>/login/logout" class="botao-sair">sair [x]</a>
                <? } ?>
            </h1>

            <form action="<?=URL.'/'.$this->controller?>/index3" method="post" class="form-inscricao-padrao dados-pagamento-form" id="form-inscricao-passo3">
                <p class="titulo-form">Dados do responsável pelo pagamento:</p>
                <label class="responsavel-pagamento">
                    <input type="radio" name="responsavel-pagamento" value="0" checked>
                    o mesmo (participante único)
                </label>
                <label class="responsavel-pagamento">
                    <input type="radio" name="responsavel-pagamento" value="1">
                    pessoa física (outro)
                </label>
                <label class="responsavel-pagamento">
                    <input type="radio" name="responsavel-pagamento" value="2">
                    pessoa jurídica
                </label>

                <label class="termos-e-condicoes">
                    <input type="checkbox" name="termos" id="termos" value="1">
                    Li e aceito os 
                    <a href="<?=URL?>/termos-e-condicoes-comerciais?iframe" id="link-termos-opener">TERMOS E CONDIÇÕES COMERCIAIS</a>
                    para a aquisição do(s) treinamento(s) supra citados.
                </label>

                <div class="texto-infoad">
                    <?=$this->pagina_infoad->body?>
                </div>
                <?/*<p class="titulo-form">Informações Adicionais</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus tempora quod omnis cumque facere ab!</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam suscipit accusamus repellendus animi libero delectus reprehenderit repudiandae ipsa veritatis in.</li>
                </ul>*/?>

                <input type="submit" class="prosseguir" value="PROSSEGUIR &raquo;">
            </form>
                
                <?/*<h4>
                    <? if($this->login->user){ ?>
                    <a href="<?=URL?>/login/logout" class="botao-sair">sair [x]</a>
                    <? } ?>
                    FORMULÁRIO DE INSCRIÇÃO
                </h4>
                <div class="inscricao-wrapper">
                    <? $this->step = 3; ?>
                    <?=$this->render('meu-carrinho/passos.phtml')?>

                    <h5>NOVO CADASTRO</h5>
                    <h6>DADOS DO RESPONSÁVEL PELO PAGAMENTO</h6>
                    <form action="<?=URL.'/'.$this->controller?>/index3" method="post" class="form-inscricao-padrao" id="form-inscricao-passo3">
                        <label>
                            <input type="radio" name="responsavel-pagamento" value="0" checked>
                            o mesmo (participante único)
                        </label>
                        <label>
                            <input type="radio" name="responsavel-pagamento" value="1">
                            pessoa-fisica
                        </label>
                        <label>
                            <input type="radio" name="responsavel-pagamento" value="2">
                            pessoa-juridica
                        </label>

                        <br><br>
                        <label>
                            <input type="checkbox" name="termos" id="termos" value="1">
                            Li e aceito integralmente todos o 
                            <strong><a href="<?=URL?>/termos-e-condicoes-comerciais?iframe" id="link-termos-opener">TERMOS E CONDIÇÕES COMERCIAIS</a></strong>
                            para a aquisição do curso supra citado.
                        </label>

                        <a href="#" class="form-submit">
                            <span>PROSSEGUIR: PASSO 3: INFORMAR DADOS DE COBRANÇA</span>
                        </a>
                    </form>
                </div>*/?>