<h1>Meus Pedidos</h1>

<? $pedido = $this->pedido; ?>
<? list($pdata,$phora,$pdatahora) = pedidoDataHora($pedido->data_cad); ?>
<? $entrega = (bool)$pedido->entrega ? $pedido->entrega : $pedido->cliente; ?>

<div class="content-text" id="pedido">
	<div id="pedido-dados">
		<span class="title">Dados do Pedido</span>

		<span class="pedido-number">
			Número do pedido:
			<b><?=Application_Model_Carrinho::formatNumber($pedido->id)?></b>
		</span>

		<span class="pedido-date">
			<b>Data e Hora:</b>
			<?=$pdatahora?>
		</span>
	</div>

	<div id="pedido-entrega">
		<span class="title">Local de Entrega</span>

		<ul>
			<li>
				<b>Endereço:</b>
				<?=$entrega->logradouro?>, <?=$entrega->numero?>
			</li>
			<li>
				<b>Complemento:</b>
				<?=$entrega->complemento?>
			</li>
			<li>
				<b>Bairro:</b>
				<?=$entrega->bairro?>
			</li>
			<li>
				<b>Cidade:</b>
				<?=$entrega->cidade?> / <?=$entrega->uf?>
			</li>
			<li>
				<b>Forma de Entrega:</b>
				<?=pedidoFormaEntrega($pedido->taxas)?>
			</li>
		</ul>
	</div>

	<div id="pedido-status">
		<span class="title">Status do Pedido</span>

		<? $status = array(
			'data_cad'       => 'Pedido Gerado',
			'data_pago'      => 'Aprovado',
			'data_separacao' => 'Em Separação',
			'data_despacho'  => 'Despachado',
			'data_entregue'  => 'Pedido Entregue',
		) ?>

		<ul id="pedido-status-list">
			<? $i=0; foreach($status as $sdt => $stitle){ $i++; ?>
			<? list($sdata,$shora,$sdatahora) = pedidoDataHora(@$pedido->{$sdt}); ?>
			<? $check = (bool)@$pedido->{$sdt}; ?>
			<li class="<?=$check?'checked':''?> st-<?=$i?>">
				<span class="stitle"><?=$stitle?></span>
				<span class="sdt"><?=str_replace(' ','<br>',$sdatahora)?></span>

				<? if($i==4 && (bool)trim($pedido->rastreio)){ ?>
				<a href="http://websro.correios.com.br/sro_bin/txect01$.QueryList?P_LINGUA=001&P_TIPO=001&P_COD_UNI=<?=$pedido->rastreio?>" id="rastreio" target="_blank">Rastrear pedido</a>
				<? } ?>
			</li>
			<? } ?>
		</ul>
	</div>

	<div id="pedido-items">
		<span class="title">Produtos Comprados</span>

        <table>
            <thead>
                <tr>
                    <th class="pdt" align="left">Produto</td>
                    <th class="qtd">Qtd.</td>
                    <th class="vlu">Valor unitário</td>
                    <th class="vlt">Valor total</td>
                </tr>
            </thead>
            <tbody>
                <? $total = 0; foreach($pedido->items as $item){ ?>
                <tr>
                    <td class="pdt">
                        <?=$item->item->descricao.
                            ($item->cor?' - '.$item->cor->descricao:'').
                            ($item->tamanho?' ('.$item->tamanho->descricao.')':'')?>
                    </td>
                    <td class="qtd"><?=$item->count?></td>
                    <td class="vlu"><?=_currency($item->item->valor)?></td>
                    <td class="vlt"><?=_currency($item->item->valor*$item->count)?></td>
                </tr>
                <? $total+= $item->item->valor*$item->count; } ?>
            </tbody>
        </table>
    </div>
	
	<div id="pedido-totais">
		<b>Subtotal:</b> <?=_currency(($total<0?0:$total));?> <br>
		
		<? foreach($pedido->taxas as $taxa){ ?>
		<b><?=reset(explode(' ',$taxa->descricao))?>:</b> <?=_currency(($taxa->valor));?> <br>
        <? $total+= $taxa->valor; } ?>
		
		<b>Valor total:</b> <strong><?=_currency(($total<0?0:$total));?></strong>
	</div>

	<br clear="all">
	<a href="#" class="js-back" id="voltar">Voltar</a>
</div>