<div class="main-center main-content projetos">
	<h1>PROJETOS</h1>
	
	<? if($this->rows){ ?>
	<div class="posts">
	<? //$i=0; for($j=0;$j<14;$j++) foreach ($this->rows as $row) { $i++; ?>
	<? $i=0; foreach ($this->rows as $row) { $i++; ?>
	<? $img = $row->capa_id ? $row->thumbnail : @$row->fotos[0]->path; ?>
	<? //$img = IMG_URL.'/obras/'.imgThumbPath($img,'90x90_nocrop'); ?>
	<? $img = IMG_URL.'/obras/'.$img; ?>
	<? //$url = IMG_URL.'/obras/'.@$row->fotos[0]->path; ?>
	<? $url = URL.'/projetos/'.$row->alias.'-'.$row->id; ?>
	<? $class = 'post projeto root '; ?>
	<? //if($i%7==0){ $class.= 'last-desk '; } ?>
	<? //if($i%4==0){ $class.= 'last-tab '; } ?>
	<? //if($i%2==0){ $class.= 'last-cel '; } ?>
	<? if($i%2==0){ $class.= 'last '; } ?>
	<a class="<?=$class?>" href="<?=$url?>" title="<?=$row->titulo?>" style="background-image:url(<?=$img?>)" data-fancybox="projeto<?=$row->id?>">
		<span><?=$row->titulo?> &middot; <?=$row->local?></span>
	</a>

	<? /*if((bool)$row->fotos){ ?>
	<div class="hidden-gallery">
        <? foreach ($row->fotos as $foto){ ?>
        <? if($foto->flag!='1'){ ?>
        <a href="<?=IMG_URL.'/obras/'.$foto->path?>" class="projeto sub" data-fancybox="projeto<?=$row->id?>" rel="projeto<?=$row->id?>">
            <?=$foto->descricao?>
        </a>
        <? } ?>
        <? } ?>
    </div>
	<? } // /if $row->fotos*/ ?>

	<? } // /foreach rows ?>
	</div>
	<br clear="all">
	<br clear="all">
	<br clear="all">
	<? if($this->hasMore){ ?>
	<div class="ver-mais-wrapper">
		<div class="loading"></div>
		<a href="#" class="ver-mais">Ver mais +</a>
	</div>
	<? } // /if $this->hasMore ?>
	<? } // /if rows ?>


	<script type="text/x-jsrender" id="tmplPost">
	<a class="post projeto loaded root" href="<?=URL?>/projetos/{{:alias}}-{{:id}}" title="{{:titulo}}" style="background-image:url(<?=IMG_URL?>/obras/{{:thumbnail}})" data-fancybox="projeto{{:id}}">
		<span>{{:titulo}} &middot; {{:local}}</span>
	</a>

	<?/*{{if fotos}}
	<div class="hidden-gallery">
        {{for fotos ~rootid=id}}
        {{if flag!='1'}}
        <a href="<?=IMG_URL?>/obras/{{:path}}" class="projeto sub" data-fancybox="projeto{{:~rootid}}" rel="projeto{{:~rootid}}">
            {{:descricao}}
        </a>
        {{/if}}
        {{/for}}
    </div>
	{{/if}}*/?>
	</script>
</div>