<? $row = $this->row; ?>
<div class="main-center main-content projetos interna">
	<h1>PROJETOS</h1>

	<h2><?=$row->titulo?> &middot; <?=$row->local?></h2>

	<div class="body"><?=$row->body?></div>

	<? if((bool)$row->fotos){ ?>
	<div id="fotos">
	<figure id="foto-big">
		<img src="<?=IMG_URL.'/obras/'.$row->thumbnail?>" alt="<?=$row->titulo?>">
	</figure>

	<h2>ANTES</h2>
	<ul class="fotos-list antes">
		<? foreach($row->fotos1 as $foto){ ?>
		<? //$img = IMG_URL.'/obras/'.imgThumbPath($foto->path,'90x90_nocrop'); ?>
		<? $img = IMG_URL.'/obras/'.$foto->path; ?>
		<li>
			<a href="<?=IMG_PATH.'/obras/'.$foto->path?>" class="thumb scroll-to" data-scroll-to="#foto-big">
				<img src="<?=$img?>" alt="imagem <?=$foto->id?>">
			</a>
		</li>
		<? } // /foreach row->fotos1 ?>
	</ul>

	<h2>DEPOIS</h2>
	<ul class="fotos-list depois">
		<? foreach($row->fotos2 as $foto){ ?>
		<? //$img = IMG_URL.'/obras/'.imgThumbPath($foto->path,'90x90_nocrop'); ?>
		<? $img = IMG_URL.'/obras/'.$foto->path; ?>
		<li>
			<a href="<?=IMG_PATH.'/obras/'.$foto->path?>" class="thumb scroll-to" data-scroll-to="#foto-big">
				<img src="<?=$img?>" alt="imagem <?=$foto->id?>">
			</a>
		</li>
		<? } // /foreach row->fotos2 ?>
	</ul>

	</div>
	<? } // /if (bool)$row->fotos ?>
</div>