<div class="main-center main-content">

<div class="coluna-1">
    <h1>CONTATO</h1>

    <a href="tel:<?=Is_Str::removeCaracteres($this->dados->tel1)?>" class="tel tl"><?=$this->dados->tel1?></a> <br>
    <a href="http://api.whatsapp.com/send?phone=<?=Is_Str::removeCaracteres($this->dados->tel2)?>" class="tel wp" target="_blank"><?=$this->dados->tel2?></a> <br> <br>

    <?=$this->dados->endereco?> <br>
    <?=$this->dados->bairro?> <br>
    <?=$this->dados->cidade?> 
    <?=$this->dados->estado?> <br>
    <?=Is_Format::cep($this->dados->cep)?>
</div>

<div class="coluna-2">
    <form action="" class="contato" method="post">
        <ul class="first">
            <li class="li-nome">
                <label for="nome">NOME</label>
                <input type="text" name="nome" id="nome" class="txt required" />
            </li>
            <li class="li-email">
                <label for="email">E-MAIL</label>
                <input type="text" name="email" id="email" class="txt required" />
            </li>
            <li class="li-telefone half half-1">
                <label for="telefone">TELEFONE</label>
                <input type="text" name="telefone" id="telefone" class="txt mask-cel" />
            </li>
            <li class="li-mensagem">
                <label for="mensagem">MENSAGEM</label>
                <textarea name="mensagem" id="mensagem" class="txt required"></textarea>
            </li>
            <li class="submit-container">
                <a href="#" id="submit">Enviar</a>
                <p class="status"></p>
            </li>
        </ul>
    </form>

    <br clear="all" />
</div>

<div class="coluna-3">
    <? if(ENV_PRO||1){ ?>
    <iframe id="mapa" src="https://maps.google.com/maps?q=<?=_parseEndereco($this->dados)?>&output=embed" width="50%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    <? } ?>
</div>

</div> <!-- /.main-center -->