<?=Css::loadLess(CSS_PATH."/admin/login.less");?>

<script type="text/javascript">
$(document).ready(function(){
    $("#email").prevalue("informe seu e-mail");
});
</script>

<? if($this->message){ ?>
<div class="message <?=$this->message['type'];?>">
    <?=$this->message['message'];?>
</div>
<? } ?>

<div class="info p recovery">
    Uma senha temporária será enviada para o e-mail cadastrado em nossa base de dados.<br/>
    Confira a senha enviada e utilize-a para realizar o próximo login.
</div>

<div class="form recovery">    
    <?=$this->form;?>
    
    <span class="links-login">
        <a href="<?=$this->url?>admin/login/">&laquo; Voltar</a><br/>
        <!--<a href="<?=$this->url?>cadastro/">cadastrar &raquo;</a>-->
    </span>
</div>