			<div class="inscricao-wrapper">
				<div class="portal-voltar">
                    <a href="<?=URL?>/portal/treinamentos">&laquo; Retornar para meus treinamentos</a>
                </div>

				<? if((bool)$this->rows){ ?>
				<? $row = $this->rows[0]; ?>
                <div class="treinamento-detalhe">
                    <span class="titulo">
                    	<a href="#" class="titulo-voltar js-back">&laquo; voltar</a>
                    	<?=$row->treinamento?>
                    </span>
                    <p class="data"><span class="label">CERTIFICADOS</span></p>
                </div>

				<? if($this->has_avaliacao){ ?>
				<p class="aviso-avaliacao">
					<? $ext = '.'.end(explode('.',$row->arquivo_path)); ?>
					<a href="<?=URL.FILE_PATH.'/certificados/'.$row->arquivo_path?>" class="emitir-certificado" download="<?=$row->cod.$ext?>">
						EMITIR CERTIFICADO DE CONCLUSÃO DO CURSO
					</a>
					<br><br>
					Será disponibilizado arquivo em PDF para download.
				</p>

				<p>
					Se necessitar da emissão pelo INSTITUTO FALCÃO BAUER clique no botão abaixo.
				</p>

				<p>
					O Certificado impresso será enviado ao endereço cadastrado em seus dados pessoais.
					O prazo para envio é de até 30 dias corridos a partir da solicitação registrada no Portal do Aluno.
				</p>

				<? if($row->solicitado=='1'){ ?>
				<p class="aviso-avaliacao cert-solicitado">
					<b>SOLICITAÇÃO DE CERTIFICADO VIA CORREIO REALIZADA EM <?=Is_Date::am2br($row->solicitado_data)?></b>
					<br><br>
					Caso não receba o certificado via correio em até 30 dias a partir da solicitação entre em contato com o
					Instituto Falcão Bauer via e-mail: <a href="mailto:academia@falcaobauer.com.br">academia@falcaobauer.com.br</a>
				</p>
				<? } else { ?>
				<p>
					<a href="<?=URL.'/portal/certificados/solicitar/produto_id/'.$this->produto_id.'/certificado/'.$row->id?>" class="certificado-correio">
						&raquo; SOLICITAR CERTIFICADO VIA CORREIO
					</a>
				</p>
				<? } ?>

				<p>
					Para segunda via de Certificados entre em contato diretamente com o Instituto Falcão Bauer através do e-mail:<br>
					<a href="mailto:academia@falcaobauer.com.br"><b>academia@falcaobauer.com.br</b></a>
				</p>
				
				<? } else { ?>
				<p class="aviso-avaliacao">
					VOCÊ AINDA NÃO RESPONDEU AVALIAÇÃO DE SATISFAÇÃO.
					<br><br>
					A emissão do Certificado só é disponível após o preenchimento da Avaliação de Satisfação.
				</p>
				<? } ?>

				<? } else { ?>
				<p>Nenhum certificado encontrado.</p>
				<? } ?>
			</div>